development/core/src/include/Schemas/CANCompiledSubsea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:complexType name="SubseaCANLineType">
    <xs:sequence>
      <xs:element name="CANLineParams"        type="CANLine_ParamsType"/>
      <xs:element name="MasterOD"             type="CANLine_MasterOD"/>
      <xs:element name="Devices"              type="CANLine_DevicesType"/>
      <xs:element name="MasterDeviceMapping"  type="CANLine_MstrDevMapType"/>
      <xs:element name="DeviceMasterMapping"  type="CANLine_DevMstrMapType"/>
      <xs:element name="TXPDOList"            type="CANLine_TXPDOList"/>
      <xs:element name="RXPDOList"            type="CANLine_RXPDOList"/>
      <xs:element name="MPDODispatcherList"   type="CANLine_MPDODispatcherList"/>
      <xs:element name="ScanLists"            type="CANLine_ScanListsType"/>
      <xs:element name="CANDebug"             type="CANLine_DebugType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_ParamsType">
    <xs:sequence>
      <xs:element name="LineNum"              type="uint8"/>
      <xs:element name="MasterNodeID"         type="uint8"/>
      <xs:element name="Baud"                 type="CANLine_BaudType"/>
      <xs:element name="BusOff"               type="CANLine_BusOffType"/>
      <xs:element name="SyncCOBID"            type="uint32"/>
      <xs:element name="SyncPeriod"           type="uint32"/>
      <xs:element name="SyncWindow"           type="uint32"/>
      <xs:element name="SyncOverflow"         type="uint8"/>
      <xs:element name="ProducerHeartbeatPeriod"    type="uint16"/>
      <xs:element name="NMTInhibit"           type="uint16"/>
      <xs:element name="NMTStart"             type="hex32"/>
      <xs:element name="NMTBootTime"          type="uint32"/>
      <xs:element name="NMTTimeout"           type="uint16"/>
      <xs:element name="NMTNegotiateDelay"    type="uint16"/>
      <xs:element name="NMTPriLevel"          type="CANLine_NMTPriLevel"/>
      <xs:element name="NMTPriTimeSlot"       type="CANLine_NMTPriTimeSlot"/>
      <xs:element name="NMTNodeTimeSlot"      type="CANLine_NMTNodeTimeSlot"/>
      <xs:element name="NMTMultiDetCycleTime" type="uint16"/>
      <xs:element name="FlyMaConsumerHBPeriod" type="uint16"/>
      <xs:element name="SuppressFmNmtRestarts" type="bool" minOccurs="0" maxOccurs="1" default="false"/>
      <xs:element name="NMTStartDetectTimeout" type="uint16" default="100"/>
      <xs:element name="NMTStartReqDelay"      type="uint16" default="500"/>
      <xs:element name="NMTStartTimeSlot"      type="uint16" default="15"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLine_BaudType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLineBaud_50K">
      </xs:enumeration>
      <xs:enumeration value="CANLineBaud_125K">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_BusOffType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLineBusOff_SetOn">
      </xs:enumeration>
      <xs:enumeration value="CANLineBusOff_Leave">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTPriLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTPriLevel_High">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTPriLevel_Medium">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTPriLevel_Low">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTPriTimeSlot">
    <xs:restriction base="uint16">
      <xs:minInclusive value="800"/>
      <xs:maxInclusive value="65535"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTNodeTimeSlot">
    <xs:restriction base="uint16">
      <xs:minInclusive value="100"/>
      <xs:maxInclusive value="1000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLine_MasterOD">
    <xs:sequence>
      <xs:element name="Entry" type="SubseaODEntry" maxOccurs="32767"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubseaODEntry">
    <xs:sequence>
      <xs:element name="Index"          type="hex16"/>
      <xs:element name="ObjType"        type="uint8"/>
      <xs:element name="NumSubEntries"  type="uint8"/>
      <xs:element name="SubEntry"       type="SubEntryType" maxOccurs="255"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubEntryType">
    <xs:sequence>
      <xs:element name="SubIndex"       type="hex8"/>
      <xs:element name="PDOMapping"     type="bool"/>
      <xs:element name="ObjFlags"       type="uint8"/>
      <xs:element name="Access"         type="CANLine_AccessType"/>
      <xs:element name="Value"          type="ODValueType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLine_AccessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_Access_RW">
      </xs:enumeration>
      <xs:enumeration value="CANLine_Access_RWR">
      </xs:enumeration>
      <xs:enumeration value="CANLine_Access_RWW">
      </xs:enumeration>
      <xs:enumeration value="CANLine_Access_WO">
      </xs:enumeration>
      <xs:enumeration value="CANLine_Access_RO">
      </xs:enumeration>
      <xs:enumeration value="CANLine_Access_CONST">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ODValueType">
    <xs:choice>
      <xs:element name="CiA_BOOLEAN"     type="bool"/>
      <xs:element name="CiA_INTEGER8"    type="int8"/>
      <xs:element name="CiA_INTEGER16"   type="int16"/>
      <xs:element name="CiA_INTEGER32"   type="int32"/>
      <xs:element name="CiA_UNSIGNED8"   type="uint8"/>
      <xs:element name="CiA_UNSIGNED8h"  type="hex8"/>
      <xs:element name="CiA_UNSIGNED16"  type="uint16"/>
      <xs:element name="CiA_UNSIGNED16h" type="hex16"/>
      <xs:element name="CiA_UNSIGNED32"  type="uint32"/>
      <xs:element name="CiA_UNSIGNED32h" type="hex32"/>
      <xs:element name="CiA_REAL32"      type="float"/>
      <xs:element name="CiA_VISSTR"      type="string1_255"/>
      <xs:element name="CiA_OCTSTR"      type="hexstring1_255"/>
      <xs:element name="CiA_TIMEDAY"     type="hex48"/>
      <xs:element name="CiA_TIMEDIFF"    type="hex48"/>
      <xs:element name="CiA_DOMAIN"      type="hexstring1_255"/>
      <xs:element name="CiA_UNSIGNED24h" type="hex32"/>
      <xs:element name="CiA_UNSIGNED40h" type="hex40"/>
      <xs:element name="CiA_UNSIGNED48h" type="hex48"/>
      <xs:element name="CiA_UNSIGNED56h" type="hex56"/>
      <xs:element name="CiA_UNSIGNED64h" type="hex64"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="CANLine_TXPDOList">
    <xs:sequence>
      <xs:element name="PDO" type="PDOType" minOccurs="0" maxOccurs="512"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_RXPDOList">
    <xs:sequence>
      <xs:element name="PDO" type="PDOType" minOccurs="0" maxOccurs="512"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PDOType">
    <xs:sequence>
      <xs:element name="Number"           type="uint16"/>
      <xs:element name="HighestSubIndex"  type="uint8"/>
      <xs:element name="COBID"            type="hex32"/>
      <xs:element name="TransmissionType" type="uint8"/>
      <xs:element name="InhibitTime"      type="uint16"/>
      <xs:element name="EventTimer"       type="uint16"/>
      <xs:element name="SyncStart"        type="uint8"/>
      <xs:element name="NumMapsUsed"      type="uint8"/>
      <xs:element name="UsedMappingList"  type="UsedMappingListType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_MPDODispatcherList">
    <xs:sequence>
      <xs:element name="Element" type="CANLine_MPDODispatcherElement" minOccurs="0" maxOccurs="254"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_MPDODispatcherElement">
    <xs:sequence>
      <xs:element name="BlockSize"        type="hex8"/>
      <xs:element name="LocalIndex"       type="hex16"/>
      <xs:element name="SenderIndex"      type="hex16"/>
      <xs:element name="SubIndex"         type="hex8"/>
      <xs:element name="SenderNodeId"     type="hex8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UsedMappingListType">
    <xs:sequence>
      <xs:element name="Mapping" type="PDOMappingType" minOccurs="0" maxOccurs="8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PDOMappingType">
    <xs:sequence>
      <xs:element name="Index"      type="hex16"/>
      <xs:element name="SubIndex"   type="hex8"/>
      <xs:element name="Bits"       type="hex8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_DevicesType">
    <xs:sequence>
      <xs:element name="Device" type="CANLine_DeviceType" minOccurs="0" maxOccurs="32"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_DeviceType">
    <xs:sequence>
      <xs:element name="NodeID"                   type="uint8"/>
      <xs:element name="DeviceType"               type="hex32"/>
      <xs:element name="VendorID"                 type="hex32"/>
      <xs:element name="ProductID"                type="hex32"/>
      <xs:element name="RevisionID"               type="hex32"/>
      <xs:element name="IgnoreRevisionMinor"      type="bool"/>
      <xs:element name="SerialID"                 type="hex32"/>
      <xs:element name="CheckErrorRegister"       type="bool"/>
      <xs:element name="ErrorRegAttempts"         type="uint8"/>
      <xs:element name="ErrorRegTimeout"          type="uint16"/>
      <xs:element name="ConsumerHeartbeatPeriod"  type="uint32"/>
      <xs:element name="SDOTimeout"               type="uint16"/>
      <xs:element name="SDORetryCount"            type="uint8"/>
      <xs:element name="NMTSlaveConfig"           type="hex32"/>
      <xs:element name="NMTRestart"               type="bool"/>
      <xs:element name="NMTStartDelay"            type="uint16"/>
      <xs:element name="ProgramNumber"            type="uint8"/>
      <xs:element name="SiiSRestartDelay"         type="uint16"/>
      <xs:element name="SDOList"                  type="CANLineDevice_SDOListType" minOccurs="0" maxOccurs="255"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_ScanListsType">
    <xs:sequence>
      <xs:element name="ScanList" type="CANLine_ScanListType" minOccurs="0" maxOccurs="32767"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_ScanListType">
    <xs:sequence>
      <xs:element name="Name" type="string32"/>
      <xs:element name="ScanListIndex" type="uint16"/>
      <xs:element name="IsWriteList" type="bool"/>
      <xs:element name="Entry" type="CANLineScanList_EntryType" maxOccurs="5000"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineScanList_EntryType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="hex16"/>
      <xs:element name="SubIndexInHex" type="hex8"/>
      <xs:element name="Type"          type="uint8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineDevice_SDOListType">
    <xs:sequence>
      <xs:element name="ListNum"           type="uint8"/>
      <xs:element name="AutoRun"           type="CANLine_SDO_AutoRunType"/>
      <xs:element name="AutoRunSyncStart"  type="uint8"/>
      <xs:element name="AutoRunSyncRepeat" type="uint8"/>
      <xs:element name="ListEntry"         type="CANLineSDOList_EntryType" maxOccurs="200"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLine_SDO_AutoRunType">
    <xs:restriction base="string32">
      <xs:enumeration value="SDO_AutoRun_None"/>
      <xs:enumeration value="SDO_AutoRun_Preop"/>
      <xs:enumeration value="SDO_AutoRun_Sync"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLineSDOList_EntryType">
    <xs:choice>
      <xs:element name="Read"  type="CANLineSDOList_ODType"/>
      <xs:element name="Write" type="CANLineSDOList_ODWriteType"/>
      <xs:element name="WriteCurrentMaster" type="CANLineSDOList_MasterWriteType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="CANLineSDOList_ODType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="hex16"/>
      <xs:element name="SubIndexInHex" type="hex8"/>
      <xs:element name="CiADataType"   type="uint8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineSDOList_ODWriteType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="hex16"/>
      <xs:element name="SubIndexInHex" type="hex8"/>
      <xs:element name="Value"         type="ODValueType"/>
      <xs:element name="WantMasterReadback" type="bool"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineSDOList_MasterWriteType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="hex16"/>
      <xs:element name="SubIndexInHex" type="hex8"/>
      <xs:element name="CiADataType"   type="uint8"/>
      <xs:element name="WantMasterReadback" type="bool"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_MstrDevMapType">
    <xs:sequence>
      <xs:element name="Entry"         type="CANLine_MstrDevMapEntryType" minOccurs="0" maxOccurs="32767"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_DevMstrMapType">
    <xs:sequence>
      <xs:element name="Entry"         type="CANLine_DevMstrMapEntryType" minOccurs="0" maxOccurs="32767"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_MstrDevMapEntryType">
    <xs:sequence>
      <xs:element name="MasterIndexInHex" type="hex16"/>
      <xs:element name="DeviceNodeID"  type="uint8"/>
      <xs:element name="DeviceIndexInHex" type="hex16"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_DevMstrMapEntryType">
    <xs:sequence>
      <xs:element name="DeviceNodeID"  type="uint8"/>
      <xs:element name="DeviceIndexInHex" type="hex16"/>
      <xs:element name="MasterIndexInHex" type="hex16"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_DebugType">
    <xs:annotation>
      <xs:documentation>The low level CAN debug config parameters</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IPPort" type="uint16">
        <xs:annotation>
          <xs:documentation>The debug will be served on this port number plus the zero based CAN line number .</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- This is a copy of the CANLine_NumberType defined in CANLine.xsd for use by other processes that need to make reference to the CAN lines. -->
  <xs:simpleType name="CANLine_NumberType">
    <xs:restriction base="uint8">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- This is a copy of the CANLineDevice_NodeIDType defined in  CANLine.xsd for use by other processes that need to make reference to the CAN evice node ids. -->
  <xs:simpleType name="CAN_DeviceIDType">
    <xs:restriction base="uint8">
      <xs:minInclusive value="9"/>
      <xs:maxInclusive value="125"/>
    </xs:restriction>
  </xs:simpleType> 
  
</xs:schema>
