development/core/src/include/Schemas/CANLine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:complexType name="CANLineType">
    <xs:sequence>
      <xs:element name="LineNum"               type="CANLine_NumberType"/>
      <xs:element name="MasterNodeID"          type="CAN_MasterIDType"/>
      <xs:element name="Baud"                  type="CANLine_BaudType"/>
      <xs:element name="BusOff"                type="CANLine_BusOffType"/>
      <xs:element name="SyncCOBID"             type="CAN_COBIDType" default="128"/>
      <xs:element name="SyncGen"               type="xs:boolean" default="false"/>
      <xs:element name="SyncPeriod"            type="xs:unsignedInt" default="0"/>
      <xs:element name="SyncWindow"            type="xs:unsignedInt" default="0"/>
      <xs:element name="SyncOverflow"          type="xs:unsignedByte" default="0"/>
      <xs:element name="ProducerHeartbeat"     type="xs:unsignedShort" default="1000"/>
      <xs:element name="NMTInhibit"            type="xs:unsignedShort" default="1000"/>
      <xs:element name="NMTStart"              type="CANLine_NMTStartType"/>
      <xs:element name="NMTBootTime"           type="xs:unsignedInt" default="0"/>
      <xs:element name="NMTTimeout"            type="xs:unsignedShort" default="500"/>
      <xs:element name="NMTNegotiateDelay"     type="xs:unsignedShort" default="400"/>
      <xs:element name="NMTPriLevel"           type="CANLine_NMTPriLevel" default="CANLine_NMTPriLevel_Medium"/>
      <xs:element name="NMTPriTimeSlot"        type="CANLine_NMTPriTimeSlot" default="5000"/>
      <xs:element name="NMTNodeTimeSlot"       type="CANLine_NMTNodeTimeSlot" default="500"/>
      <xs:element name="NMTMultiDetCycleTime"  type="xs:unsignedShort" default="4010"/>      
      <xs:element name="FlyMaConsumerHBPeriod" type="xs:unsignedShort" default="5000"/>
      <xs:element name="SuppressFmNmtRestarts" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"/>
      <xs:element name="NMTStartDetectTimeout" type="xs:unsignedShort" default="100"/>
      <xs:element name="NMTStartReqDelay"      type="xs:unsignedShort" default="500"/>
      <xs:element name="NMTStartTimeSlot"      type="xs:unsignedShort" default="15"/>
      <xs:element name="Devices"               type="CANLine_DevicesType"/>
      <xs:element name="ScanLists"             type="CANLine_ScanListsType" minOccurs="0" maxOccurs="128"/>
      <xs:element name="CANDebug"              type="CANLine_DebugType">
        <xs:annotation>
          <xs:documentation>The CAN debug settings in case any of the fieldbus lines are CAN.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLine_NumberType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="127"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CAN_MasterIDType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="1"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="7"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CAN_COBIDType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="2047"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_BaudType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLineBaud_50K">
      </xs:enumeration>
      <xs:enumeration value="CANLineBaud_125K">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_BusOffType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLineBusOff_SetOn">
      </xs:enumeration>
      <xs:enumeration value="CANLineBusOff_Leave">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLine_NMTStartType">
    <xs:sequence>
      <xs:element name="Master"         type="CANLine_NMTStart_Bit0"/>
      <xs:element name="StartAllNodes"  type="CANLine_NMTStart_Bit1"/>
      <xs:element name="MasterStart"    type="CANLine_NMTStart_Bit2"/>
      <xs:element name="StartNode"      type="CANLine_NMTStart_Bit3"/>
      <xs:element name="ResetAllNodes"  type="CANLine_NMTStart_Bit4"/>
      <xs:element name="FlyingMaster"   type="CANLine_NMTStart_Bit5" fixed="CANLine_NMTStart_Bit5_DoFlyingMaster"/>
      <xs:element name="StopAllNodes"   type="CANLine_NMTStart_Bit6"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLine_NMTPriLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTPriLevel_High">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTPriLevel_Medium">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTPriLevel_Low">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTPriTimeSlot">
    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="800"/>
      <xs:maxInclusive value="65535"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTNodeTimeSlot">
    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="100"/>
      <xs:maxInclusive value="1000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLine_DevicesType">
    <xs:sequence>
      <xs:element name="Device" type="CANLine_DeviceType" minOccurs="0" maxOccurs="32"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_ScanListsType">
    <xs:sequence>
      <xs:element name="List" type="CANLine_ScanListType" maxOccurs="256"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLine_ScanListType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="IsWriteList" type="xs:boolean" />
      <xs:element name="NodeBlock" type="CANLineScanList_NodeBlockType" maxOccurs="32767"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineScanList_NodeBlockType">
    <xs:sequence>
      <xs:element name="NodeID" type="CAN_DeviceIDType"/>
      <xs:element name="Entry" type="CANLineScanList_NodeEntryType" maxOccurs="200"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineScanList_NodeEntryType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="CANLineScanList_IndexType"/>
      <xs:element name="SubIndexInHex" type="CANLineScanList_SubIndexType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLineScanList_IndexType">
    <xs:restriction base="xs:hexBinary">
      <xs:length value="2"></xs:length>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLineScanList_SubIndexType">
    <xs:restriction base="xs:hexBinary">
      <xs:length value="1"></xs:length>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLine_DeviceType">
    <xs:sequence>
      <xs:element name="Name"                 type="xs:string"/>
      <xs:element name="NodeID"               type="CAN_DeviceIDType"/>
      <xs:element name="DeviceClassInfo"      type="CANLine_DeviceClassType"/>
      <xs:element name="IgnoreDeviceType"     type="xs:boolean" minOccurs="0"/>
      <xs:element name="IgnoreVendorID"       type="xs:boolean" minOccurs="0"/>
      <xs:element name="IgnoreProductID"      type="xs:boolean" minOccurs="0"/>
      <xs:element name="IgnoreRevisionID"     type="xs:boolean" minOccurs="0"/>
      <xs:element name="IgnoreRevisionMinor"  type="xs:boolean" minOccurs="0"/>
      <xs:element name="SerialID"             type="xs:unsignedInt" minOccurs="0"/>
      <xs:element name="ErrorRegister"        type="ErrorRegisterType" minOccurs="0"/>
      <xs:element name="NMTSlaveConfig"       type="CANLineDevice_NMTSlaveConfigType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLine_NMTStart_Bit0">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTStart_Bit0_NotMaster">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTStart_Bit0_IsMaster">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTStart_Bit1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTStart_Bit1_StartRemoteNodeForEachNodeID">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTStart_Bit1_StartRemoteNodeWithID0">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTStart_Bit2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTStart_Bit2_GoOperationalAtStart">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTStart_Bit2_DoNotGoOperationalAtStart">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTStart_Bit3">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTStart_Bit3_MasterWillStartSlaves">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTStart_Bit3_ApplicationWillStartSlaves">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTStart_Bit4">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTStart_Bit4_ResetOnNodeIdOfDevice">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTStart_Bit4_ResetOnNodeId0">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTStart_Bit5">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTStart_Bit5_NoFlyingMaster">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTStart_Bit5_DoFlyingMaster">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_NMTStart_Bit6">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANLine_NMTStart_Bit6_UseBit4Action">
      </xs:enumeration>
      <xs:enumeration value="CANLine_NMTStart_Bit6_IgnoreBit4Action">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CAN_DeviceIDType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="9"/>
      <xs:maxInclusive value="125"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLine_DeviceClassType">
    <xs:sequence>
      <xs:element name="ConsumerHeartbeat" type="xs:unsignedInt"/>
      <xs:element name="SdoTimeout"        type="CANLineDevice_DelayType" default="500"/>
      <xs:element name="SdoRetryCount"     type="CANLineDevice_SdoRetryType" default="2"/>
      <xs:element name="NMTRestart"        type="xs:boolean" default="false"/>
      <xs:element name="NMTStartDelay"     type="CANLineDevice_DelayType" default="500"/>
      <xs:element name="ProgramNumber"     type="CANLineDevice_ProgramNumberType" default="1"/>
      <xs:element name="SIISRestartDelay"  type="CANLineDevice_DelayType" default="2000"/>
      <xs:element name="EdsFilename"       type="xs:string"/>
      <xs:element name="NoWarn"            type="xs:unsignedInt" minOccurs="0" maxOccurs="255"/>
      <!--
      The NoWarn elements allows CAN compiler warning to be supppressed.
      Each NoWarn element will suppress the printing of a single type of warning message.
      The warnings are sepecified by an integer.
      For example:
            <NoWarn>10</NoWarn> will suppress warning number 10
      The warning numbers are printed as part of the warning message.
      The current warnings and their numbers are as follows:
      Number        Description
        1           SIIS mandatory object 0x1005 not found
        2           SIIS mandatory object 0x1008 not found
        3           SIIS mandatory object 0x1009 not found
        4           SIIS mandatory object 0x100A not found
        5           SIIS mandatory object 0x1010 not found
        6           SIIS mandatory object 0x1011 not found
        7           SIIS mandatory object 0x1014 not found
        8           SIIS mandatory object 0x1015 not found
        9           SIIS mandatory object 0x1018 not found
        10          SIIS boot-loader only mandatory object 0x1F50 not found
        11          SIIS boot-loader only mandatory object 0x1F51 not found
        12          SIIS boot-loader only mandatory object 0x1F56 not found
        13          SIIS boot-loader only mandatory object 0x1F57 not found
        14          Lss Not Supported
        15          Number of RX PDOs zero
        16          Number of TX PDOs zero
        17          Array with SubNumber Less Than 2
        18          Record with SubNumber Less Than 2
        19          Device type least significant 16 bits not 443
        20          Vendor number has no default
        21          Product code has no default
        22          Revision Number has no default
        23          Unsupported type Real64
        24          Mapping marked invalid
        25          Channel Token multiply defined
        26          Sub-Token attribute ETU already in list
        27          Duplicate Node Id for device
      -->
      <xs:element name="RxPdoInfoList"     type="CANLineDevice_RxPdoInfoList"/>
      <xs:element name="SDOList"           type="CANLineDevice_SDOListType" minOccurs="0" maxOccurs="255"/>
      <xs:element name="PDOMapList"        type="CANLineDevice_PDOMapListType" minOccurs="0" maxOccurs="4"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLineDevice_DelayType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="100"/>
      <xs:maxInclusive value="60000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLineDevice_SdoRetryType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLineDevice_ProgramNumberType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLineDevice_RxPdoInfoList">
    <xs:sequence>
      <xs:element name="CANLineDevice_RxPdoInfo" type="CANLineDevice_RxPdoInfo" minOccurs="0" maxOccurs="507"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineDevice_RxPdoInfo">
    <xs:sequence>
      <xs:element name="Number"            type="CAN_DevicePdoNumberType"/>
      <xs:element name="Enable"            type="xs:boolean"/>
      <xs:element name="SyncStart"         type="CAN_DeviceRxSyncStartType"/>
      <xs:element name="SyncCount"         type="CAN_DeviceRxSyncCountType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CAN_DevicePdoNumberType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="512"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CAN_DeviceRxSyncStartType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="253"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CAN_DeviceRxSyncCountType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="253"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLineDevice_ErrorRegAttemptsType">
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLineDevice_ErrorRegTimeoutType">
    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="100"/>
      <xs:maxInclusive value="60000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ErrorRegisterType">
    <xs:sequence>
      <xs:element name="CheckErrorRegister"   type="xs:boolean" default="false"/>
      <xs:element name="ErrorRegAttempts"     type="CANLineDevice_ErrorRegAttemptsType" default="1"/> 
      <xs:element name="ErrorRegTimeout"      type="CANLineDevice_ErrorRegTimeoutType"  default="1000"/> 
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineDevice_NMTSlaveConfigType">
    <xs:sequence>
      <xs:element name="Slave"           type="xs:boolean" default="0"/>
      <xs:element name="BootSlave"       type="xs:boolean" default="0"/>
      <xs:element name="Mandatory"       type="xs:boolean" default="0"/>
      <xs:element name="ResetComms"      type="xs:boolean" default="0"/>
      <xs:element name="SoftwareVersion" type="xs:boolean" default="0"/>
      <xs:element name="SoftwareUpdate"  type="xs:boolean" default="0"/>
      <xs:element name="Restore"         type="xs:boolean" default="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineDevice_SDOListType">
    <xs:sequence>
      <xs:element name="Name"      type="xs:string"/>
      <xs:element name="AutoRun"   type="CANLineSDOList_AutoRunType"/>
      <xs:element name="ListEntry" type="CANLineSDOList_EntryType" maxOccurs="32767"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineSDOList_AutoRunType">
    <xs:choice>
      <xs:element name="None" type="CANLineSDOList_AutoRunNullType"/>
      <xs:element name="Preop" type="CANLineSDOList_AutoRunNullType" />
      <xs:element name="Sync" type="CANLineSDOList_AutoRunSyncType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="CANLineSDOList_AutoRunSyncType">
    <xs:sequence>
      <xs:element name="Start" type="CANLine_SyncValType"/>
      <xs:element name="Repeat" type="CANLine_SyncValType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLineSDOList_AutoRunNullType">
    <xs:restriction base="xs:string">
      <xs:length value="0"></xs:length>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLine_SyncValType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="240"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLineSDOList_EntryType">
    <xs:choice>
      <xs:element name="Read"  type="CANLineSDOList_ReadType"/>
      <xs:element name="Write" type="CANLineSDOList_WriteValueType"/>
      <xs:element name="WriteCurrentMaster" type="CANLineSDOList_WriteMasterType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="CANLineSDOList_ReadType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="CANLineSDOList_IndexType"/>
      <xs:element name="SubIndexInHex" type="CANLineSDOList_SubIndexType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineSDOList_WriteValueType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="CANLineSDOList_IndexType"/>
      <xs:element name="SubIndexInHex" type="CANLineSDOList_SubIndexType"/>
      <xs:element name="Value"         type="ODValueType"/>
      <xs:element name="WantMasterReadback" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineSDOList_WriteMasterType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="CANLineSDOList_IndexType"/>
      <xs:element name="SubIndexInHex" type="CANLineSDOList_SubIndexType"/>
      <!-- The write value is the current one in the master at runtime. -->
      <xs:element name="WantMasterReadback" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CANLineDevice_PDOMapListType">
    <xs:sequence>
      <xs:element name="PDOType"          type="CANLinePDOMapList_PDOType"/>
      <xs:element name="PDONumber"        type="CANLinePDOMapList_PDONumber"/>
      <xs:element name="TransmissionType" type="CANLinePDOMapList_TransmisssionType"/>
      <xs:element name="SyncStart"        type="CANLinePDOMapList_SyncStartType"    minOccurs="0" maxOccurs="1"/>
      <xs:element name="PDOListEntry"     type="CANLinePDOMapList_EntryType"    minOccurs="1" maxOccurs="8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CANLinePDOMapList_PDOType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Read"/>
      <xs:enumeration value="Transmit"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLinePDOMapList_PDONumber">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLinePDOMapList_TransmisssionType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="240"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLinePDOMapList_SyncStartType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="240"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLinePDOMapList_EntryType">
    <xs:sequence>
      <xs:element name="IndexInHex"    type="CANLineSDOList_IndexType"/>
      <xs:element name="SubIndexInHex" type="CANLineSDOList_SubIndexType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CIATimeFormat">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,2} (jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec) [1-2][0-9]{3} [0-9]{2}:[0-9]{2}:[0-9]{2}(:[0-9]{1,3})?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CIATimeDiffFormat">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,5} [0-9]{2}:[0-9]{2}:[0-9]{2}(:[0-9]{1,3})?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ODValueType">
    <xs:choice>
      <xs:element name="CiA_BOOLEAN"     type="bool"/>
      <xs:element name="CiA_INTEGER8"    type="int8"/>
      <xs:element name="CiA_INTEGER16"   type="int16"/>
      <xs:element name="CiA_INTEGER32"   type="int32"/>
      <xs:element name="CiA_UNSIGNED8"   type="uint8"/>
      <xs:element name="CiA_UNSIGNED8h"  type="hex8"/>
      <xs:element name="CiA_UNSIGNED16"  type="uint16"/>
      <xs:element name="CiA_UNSIGNED16h" type="hex16"/>
      <xs:element name="CiA_UNSIGNED32"  type="uint32"/>
      <xs:element name="CiA_UNSIGNED32h" type="hex32"/>
      <xs:element name="CiA_REAL32"      type="float"/>
      <xs:element name="CiA_VISSTR"      type="string1_255"/>
      <xs:element name="CiA_OCTSTR"      type="hexstring1_255"/>
      <xs:element name="CiA_TIMEDAY"     type="CIATimeFormat"/>
      <xs:element name="CiA_TIMEDIFF"    type="CIATimeDiffFormat"/>
      <xs:element name="CiA_DOMAIN"      type="hexstring1_255"/>
      <xs:element name="CiA_UNSIGNED24h" type="hex32"/>
      <xs:element name="CiA_UNSIGNED40h" type="hex40"/>
      <xs:element name="CiA_UNSIGNED48h" type="hex48"/>
      <xs:element name="CiA_UNSIGNED56h" type="hex56"/>
      <xs:element name="CiA_UNSIGNED64h" type="hex64"/>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="CANLineSDOList_IndexType">
    <xs:restriction base="xs:hexBinary">
      <xs:length value="2"></xs:length>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CANLineSDOList_SubIndexType">
    <xs:restriction base="xs:hexBinary">
      <xs:length value="1"></xs:length>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CANLine_DebugType">
    <xs:annotation>
      <xs:documentation>The low level CAN debug config parameters</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IPPort" type="Private_IP_PortType">
        <xs:annotation>
          <xs:documentation>The debug will be served on this port number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
