development/core/src/include/Schemas/DSLM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="PMMStuModeType">
	    <xs:annotation>
			<xs:documentation>Enumeration of PMM Stu Mode CO = 1; CPE = 2; PAF = 3</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="string32">
		<xs:enumeration value="PMM_STU_MODE_Undefined">
			<xs:annotation>
				<xs:documentation>PMM Stu Mode 0 - Undefined. Must not use</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		<xs:enumeration value="PMM_STU_MODE_CO">
			<xs:annotation>
				<xs:documentation>PMM Stu Mode 1 - Single Pair Comms Capable in Master Node</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		<xs:enumeration value="PMM_STU_MODE_CPE">
			<xs:annotation>
				<xs:documentation>PMM Stu Mode 2 - Single/Dual Pair Comms Capable in Slave Node</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		<xs:enumeration value="PMM_STU_MODE_PAF">
			<xs:annotation>
				<xs:documentation>PMM Stu Mode 3 - Dual Twisted Pair Comms Capable in Master Node</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TxModeType">
	    <xs:annotation>
			<xs:documentation>This Parameter specifies the limits for the regional setting parameter for the SHDSL line</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="string32">
		<xs:enumeration value="ANNEX_A">
			<xs:annotation>
				<xs:documentation>Regional ANNEX A select</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		<xs:enumeration value="ANNEX_B">
			<xs:annotation>
				<xs:documentation>Regional ANNEX B select</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EthernetSpeedType">
	    <xs:annotation>
			<xs:documentation>This data type specifies enumeration value for Ethernet interface speed parameter</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="string32">
		<xs:enumeration value="MII_10BT">
			<xs:annotation>
				<xs:documentation>Interface Ethernet Speed 10BT</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		<xs:enumeration value="MII_100BT">
			<xs:annotation>
				<xs:documentation>Interface Ethernet Speed 100BT</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EthernetDuplexModeType">
	    <xs:annotation>
			<xs:documentation>This data type specifies enumeration value for Ethernet duplex mode parameter</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="string32">
		<xs:enumeration value="HALF_DUPLEX">
			<xs:annotation>
				<xs:documentation>Half Duplex mode</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		<xs:enumeration value="FULL_DUPLEX">
			<xs:annotation>
				<xs:documentation>Full Duplex mode</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="LineProbingType">
	    <xs:annotation>
			<xs:documentation>This data type specifies enumeration value for Line probing parameter</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="string32">
		<xs:enumeration value="LP_Undefined">
			<xs:annotation>
				<xs:documentation>Line probing undefined - Must not use</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		<xs:enumeration value="LP_DISABLE">
			<xs:annotation>
				<xs:documentation>line Probing disable</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>
		<xs:enumeration value="LP_ENABLE">
			<xs:annotation>
				<xs:documentation>Line probing enable</xs:documentation>
			</xs:annotation>
	    </xs:enumeration>		
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="PMMResetOnFailureType">
        <xs:annotation>
            <xs:documentation>User might want to restart PMM on failure. This data type specifies enumeration value for this feature</xs:documentation>
        </xs:annotation>
        <xs:restriction base="string32">
        <xs:enumeration value="PMM_RESET_FEATURE_Undefined">
            <xs:annotation>
                <xs:documentation>PMM Reset on Failure feature undefined - Must not use</xs:documentation>
            </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="PMM_RESET_FEATURE_DISABLE">
            <xs:annotation>
                <xs:documentation>PMM Reset on Failure feature disabled</xs:documentation>
            </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="PMM_RESET_FEATURE_ENABLE">
            <xs:annotation>
                <xs:documentation>PMM Reset on Failure feature enabled</xs:documentation>
            </xs:annotation>
        </xs:enumeration>       
        </xs:restriction>
    </xs:simpleType>        
	<xs:simpleType name="LineRateType">
		<xs:annotation>
			<xs:documentation>Used to define Transmission data rate limits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="uint16">
			<xs:minInclusive value="192">
				<xs:annotation>
					<xs:documentation>Minimum Transmission Rate limit 192Kbps</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxInclusive value="5696">
				<xs:annotation>
					<xs:documentation>Maximum Transmission Rate limit 5696Kbps </xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="UsedTargetMarginType">
		<xs:annotation>
			<xs:documentation>Used to define limit for Used Target margin parameter. Lower 4 bits of this type are valid.</xs:documentation>
			<xs:documentation>Bit 0 - Current Condition Target Margin Down Select</xs:documentation>
			<xs:documentation>Bit 1 - Worst Case Target Margin Down Select</xs:documentation>
			<xs:documentation>Bit 2 - Current Condition Target Margin Up Select</xs:documentation>
			<xs:documentation>Bit 3 - Worst Case Target Margin Up Select</xs:documentation>
		</xs:annotation>
		<xs:restriction base="uint8">
			<xs:minInclusive value="0">
				<xs:annotation>
					<xs:documentation>Minimum value is 0. i.e, Not considering any target margin limit</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxInclusive value="15">
				<xs:annotation>
					<xs:documentation>Maximum value is 15. i.e., considering all target margin limits </xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNRMarginType">
		<xs:annotation>
			<xs:documentation>Used to define limit for upstream and downstream SNR margins</xs:documentation>
		</xs:annotation>
		<xs:restriction base="int8">
			<xs:minInclusive value="-10">
				<xs:annotation>
					<xs:documentation>Minimum SNR margin for up/down streams -10dB </xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxInclusive value="21">
				<xs:annotation>
					<xs:documentation>Maximum SNR margin for up/down streams 21dB </xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
    <xs:complexType name="DSLMType">
        <xs:annotation>
            <xs:documentation>Digital Subscriber Line Modem board.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BoardType" type="CardNameType" fixed="CARD_NAME_Dslm">
                <xs:annotation>
                    <xs:documentation>This element defines the Type of board fitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SemDacConfig" type="SemDacConfigType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>SEM Data Acquistion config as used by SemDacMan process.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EgdGatewayConfig" type="EgdGatewayCfgType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>SEM Ethernet Global Data Gateway config as used by EgdGateway process.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AutoShutdownConfig" type="AutoShutdownCfgType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>SEM Autonomous Shutdown config as used by AutoShutdownMan process.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HippsProfilerConfig" type="HippsProfilerCfgType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>SEM HIPPS Profiler config used with HippsProfiler process, EgdConfig required.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PmmStuMode" type="PMMStuModeType" default="PMM_STU_MODE_CPE">
                <xs:annotation>
                    <xs:documentation>This Parameter specifies the Stu mode of PMM.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxMode" type="TxModeType" default="ANNEX_B">
                <xs:annotation>
                    <xs:documentation>This Parameter specifies the regional setting for the SHDSL line.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EthernetSpeed" type="EthernetSpeedType" default="MII_100BT">
                <xs:annotation>
                    <xs:documentation>Define the speed for the interface.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EthernetDuplexMode" type="EthernetDuplexModeType" default="FULL_DUPLEX">
                <xs:annotation>
                    <xs:documentation>Defines the duplex mode for the interface.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MinLineRate" type="LineRateType" default="192">
                <xs:annotation>
                    <xs:documentation>Minimum transmission rate in kbps.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaxLineRate" type="LineRateType" default="5696">
                <xs:annotation>
                    <xs:documentation>Maximum transmission rate in kbps.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CCTargetMarginUp" type="SNRMarginType" default="15">
                <xs:annotation>
                   <xs:documentation>This parameter specifies the downstream current condition target. SNR margin in dB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CCTargetMarginDown" type="SNRMarginType" default="15">
                <xs:annotation>
                    <xs:documentation>This parameter specifies the downstream current condition target. SNR margin in dB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WCTargetMarginUp" type="SNRMarginType" default="15">
                <xs:annotation>
                    <xs:documentation>This parameter specifies the downstream worst case target. SNR margin in dB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WCTargetMarginDown" type="SNRMarginType" default="15">
                <xs:annotation>
                    <xs:documentation>This parameter specifies the downstream Worst case target. SNR margin in dB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UsedTargetMargin" type="UsedTargetMarginType" default="10">
                <xs:annotation>
                    <xs:documentation>This specifies which target margins to be used. Bit0: CC_TM down, Bit1:WC_TM down, Bit2:CC_TM up, Bit3: WC_TM up</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LineProbing" type="LineProbingType" default="LP_ENABLE">
                <xs:annotation>
                    <xs:documentation>This parameter specifies status of Line probing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PMMResetOnFailure" type="PMMResetOnFailureType" default="PMM_RESET_FEATURE_ENABLE">
                <xs:annotation>
                    <xs:documentation>This parameter specifies status of PMM Reset on failure feature.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
