development/core/src/include/Schemas/PCSProject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Alan Davis (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SubseaController.xsd"/>
	<xs:include schemaLocation="SCI_Data.xsd"/>
	<xs:include schemaLocation="SCI_Umbilical.xsd"/>
	<xs:include schemaLocation="MCSMU.xsd"/>
	<xs:include schemaLocation="SCI_ModbusDevice.xsd"/>
	<xs:complexType name="SCI_MsgTimingType">
		<xs:sequence>
			<xs:element name="Timeout" type="uint32" default="3000">
				<xs:annotation>
					<xs:documentation>Timeout in miliseconds for communications using secondary modem.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetryCount" type="uint8" default="3">
				<xs:annotation>
					<xs:documentation>Number Of Retries To Attempt For Each Message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BadScanItemsCount" type="uint8" default="3">
				<xs:annotation>
					<xs:documentation>Number Of Bad Scan Items Before Comms Are Bad</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManifoldControllerType">
		<xs:annotation>
			<xs:documentation>A manfold controller are controllers and monitors the manifold.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubseaController" type="SubseaControllerType">
				<xs:annotation>
					<xs:documentation>SCM or PCDM description for the manifold controller.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManifoldType">
		<xs:annotation>
			<xs:documentation>A manfold provides an infield distribution / coupling capacity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManifoldControllers" type="ManifoldControllerType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Manifold controllers. There are between 0 and 3 of these.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trees" type="TreeType" minOccurs="0" maxOccurs="6">
				<xs:annotation>
					<xs:documentation>Tree descriptions. There are between 0 and 6 of these.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TreeType">
		<xs:annotation>
			<xs:documentation>A Tree is the control point for production / injection.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubseaController" type="SubseaControllerType">
				<xs:annotation>
					<xs:documentation>Subsea Controller descriptions (Always an SCM on a Tree).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UmbilicalCommunicationsType">
		<xs:annotation>
			<xs:documentation>This strucure contains parameters pertinent to the communciations on the umbilical, both primary and backup.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UseBackUpModemThreshold" type="uint16">
				<xs:annotation>
					<xs:documentation>Threshod for Using the Backup Modem Timing Parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryModemTimings" type="SCI_MsgTimingType">
				<xs:annotation>
					<xs:documentation>Communicaitons Parameter Deinfitions for the Primary Modem.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackupModemTimings" type="SCI_MsgTimingType">
				<xs:annotation>
					<xs:documentation>Communicaitons Parameter Deinfitions for the Backup Modem.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UmbilicalType">
		<xs:annotation>
			<xs:documentation>An umbilical carries power and communication data to the subsea controllers on the seabed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UmbilicalName" type="string255">
				<xs:annotation>
					<xs:documentation>Umbilical name (Max 255 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI_Communications" type="UmbilicalCommunicationsType">
				<xs:annotation>
					<xs:documentation>Umbilical name (Max 255 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manifolds" type="ManifoldType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Manifold descriptions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trees" type="TreeType" minOccurs="0" maxOccurs="32">
				<xs:annotation>
					<xs:documentation>Tree descriptions that do not hang off of a manifold.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surface" type="SCI_UmbilicalType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProjectIPType">
		<xs:annotation>
			<xs:documentation>Top two Digits of IP Address aaa.bbb</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="A" type="uint8">
				<xs:annotation>
					<xs:documentation>Project IP Address, Octet A (IP Format A.B.C.D).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="B" type="uint8">
				<xs:annotation>
					<xs:documentation>Project IP Address, Octet B (IP Format A.B.C.D).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surface_IP_A" type="uint8" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Project Surface IP Address, Octet A (IP Format A.B.C.D). If not set Surface IP Address will follow Project A IP Address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surface_IP_B" type="uint8" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Project Surface IP Address, Octet B (IP Format A.B.C.D). If not set Surface IP Address will follow Project B IP Address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfacePort" type="Private_IP_PortType" default="50001">
				<xs:annotation>
					<xs:documentation>UDP port number used by the surface to receive messages from subsea.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubseaPort" type="Private_IP_PortType" default="50000">
				<xs:annotation>
					<xs:documentation>UDP port number used by the subsea to receive messages from the surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FTPProtocolType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SFTP"/>
			<xs:enumeration value="FTP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PCSProjectInfoType">
		<xs:sequence>
			<xs:element name="ProjectName" type="string255">
				<xs:annotation>
					<xs:documentation>Project name (Max 255 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XML_Config_Version" type="XML_VersionType">
				<xs:annotation>
					<xs:documentation>Manually Entered Version Number for XML</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectIP" type="ProjectIPType">
				<xs:annotation>
					<xs:documentation>Project IP Address (top two octets).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FTPUserName" type="string255">
				<xs:annotation>
					<xs:documentation>FTP Username for downloads.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FTPPassword" type="string255">
				<xs:annotation>
					<xs:documentation>FTP Password for downloads.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FTPPath" type="string255">
				<xs:annotation>
					<xs:documentation>FTP Path within each module</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FTPProtocol" type="FTPProtocolType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FTP protocol within each module</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandaloneSCI" type="bool" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies if Application is a Standalone Application or Duty/Standby Mode Application</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequiresArbitration" type="bool" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Requires Arbitration Mdoe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseSerialisedCommunications" type="bool" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Use Serialised Communications</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscrepancyTimeout" type="uint32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time over which if discrepancy exceeded, to flag discrepancy error</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI_A_IP_Address" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SCI A IP Address, required to support arbitration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI_B_IP_Address" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SCI B IP Address, required to support arbitration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProfileFTPServer" type="FTPServer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FTP Server Definition for Profiles to be uploaded too</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PCSType">
		<xs:annotation>
			<xs:documentation>The Production Control System definition.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProjectInfo" type="PCSProjectInfoType">
				<xs:annotation>
					<xs:documentation>Project specific information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfaceModems" type="MCSMUType" minOccurs="0" maxOccurs="50">
				<xs:annotation>
					<xs:documentation>Specifications of all the surface modems in the control system (Range 1 to 6).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Umbilical" type="UmbilicalType" maxOccurs="16">
				<xs:annotation>
					<xs:documentation>Specifications of all the umbilicals in the control system (Range 1 to 16).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI" type="SCIType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SCI specific configuration data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FTPServer">
		<xs:annotation>
			<xs:documentation>FTP Server definition.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IPAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>FTP Server IP Address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Username" type="xs:string">
				<xs:annotation>
					<xs:documentation>FTP Server Username.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Password" type="xs:string">
				<xs:annotation>
					<xs:documentation>FTP Server Password.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Directory" type="xs:string">
				<xs:annotation>
					<xs:documentation>FTP Server Directory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SubseaControlSystem" type="PCSType">
		<xs:annotation>
			<xs:documentation>Subsea Control System, this is the root level for the project specification.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
