development/core/src/include/Schemas/SCI_SensorModbusInterfaces.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- [Unpublished] Copyright 2022.  Baker Hughes Energy Technology UK Limited. -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_SurfaceTypes.xsd"/>
	<xs:include schemaLocation="BaseTypes.xsd"/>
	<xs:include schemaLocation="SCI_DeviceMapping.xsd"/>
	<xs:include schemaLocation="SCI_GenericSensor.xsd"/>
	<xs:complexType name="SensorModbusInterfacesTypes">
		<xs:choice>
			<xs:element name="HalliburtonDHPT" type="HaliburtonDHPTType">
				<xs:annotation>
					<xs:documentation>Interface to Halliburton 2nd Generation IWIS Subsea Interface Card For ROC gauges (Controls and Initialisation). As defined within Haliburton Document 96705068 Rev B</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FramoVxMeter" type="FramoVxMeterType">
				<xs:annotation>
					<xs:documentation>Interface to Support Framo Vx Meter (WGFM/MPFM) (Controls and Initialisation). As defined within Framo Document DOC-0018268 Rev B</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BHDHPT" type="BHDHPTControlType">
				<xs:annotation>
					<xs:documentation>Baker Hughes DHPT control type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GenericModbusDevice" type="GenericModbusType">
				<xs:annotation>
					<xs:documentation>Interface to support generic modbus devices.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="HaliburtonDHPTType">
		<xs:annotation>
			<xs:documentation>Halliburton 2nd Generation IWIS Subsea Interface Card</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="string32">
				<xs:annotation>
					<xs:documentation>Name of the Interface (Max 32 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tag" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer tag reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModbusDeviceName" type="string32">
				<xs:annotation>
					<xs:documentation>Name of associated modbus slave device</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoOfGauges" type="string32">
				<xs:annotation>
					<xs:documentation>Number of Gauges Configured  (Range 1 to 10).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirmwareRevision" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to Analogue Parameter for Firmware Revision</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCIEditData" type="HaliburtonDHPTEditDataType">
				<xs:annotation>
					<xs:documentation>This group contains all the Hallibutron data that can be edited on the ETU HMI.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--The following are used by the ETU to Display the Data on P&ID (if req.)-->
			<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType">
				<xs:annotation>
					<xs:documentation>Structure holding Modbus and OPC mapping data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HaliburtonDHPTEditDataType">
		<xs:annotation>
			<xs:documentation>SCI Editable Data For A Haliburton DHPT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Gain" type="uint16" default="26">
				<xs:annotation>
					<xs:documentation>Gain Setting (Modbus Address 40057)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoltageSetpoint" type="uint16" default="4033">
				<xs:annotation>
					<xs:documentation>Voltage Setpoint Register (Modbus Address 40058)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GaugeType" type="uint8" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge Type (ROC, OPSIS etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseS19Firmware" type="bool" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Use Secondary (S19) Firmware</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge1Address" type="uint16">
				<xs:annotation>
					<xs:documentation>Gauge 1 Address (Modbus Address 40011).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge2Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 2 Address (Modbus Address 40012).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge3Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 3 Address (Modbus Address 40013).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge4Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 4 Address (Modbus Address 40014).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge5Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 5 Address (Modbus Address 40015).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge6Address" type="uint16" default="26" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 6 Address (Modbus Address 40016).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge7Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 7 Address (Modbus Address 40017).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge8Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 8 Address (Modbus Address 40018).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge9Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 9 Address (Modbus Address 40019).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge10Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 10 Address (Modbus Address 40020).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FramoVxMeterType">
		<xs:annotation>
			<xs:documentation>Framo Vx Meter (WGFM/MPFM)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="string32">
				<xs:annotation>
					<xs:documentation>Name of the Interface (Max 32 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tag" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer tag reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModbusDeviceName" type="string32">
				<xs:annotation>
					<xs:documentation>Name of associated modbus slave device</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCIEditData" type="FramoVxMeterEditDataType">
				<xs:annotation>
					<xs:documentation>This group contains all the Framo Vx Meter data that can be edited on the ETU HMI.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--The following are used by the ETU to Display the Data on P&ID (if req.)-->
			<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType">
				<xs:annotation>
					<xs:documentation>Structure holding Modbus and OPC mapping data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FramoVxMeterEditDataType">
		<xs:annotation>
			<xs:documentation>SCI Editable Data For A Framo Vx Meter</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WellProfile" type="uint16">
				<xs:annotation>
					<xs:documentation>Vx Meter Well Profile (Modbus Address 40012)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResetCumulativeValues" type="bool">
				<xs:annotation>
					<xs:documentation>Command to Reset Comulative Values (Modbus Address 00001)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BHDHPTControlType">
		<xs:sequence>
			<xs:element name="Name" type="string32">
				<xs:annotation>
					<xs:documentation>DHPT name  (Max 32 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tag" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer tag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HostCard" type="string32">
				<xs:annotation>
					<xs:documentation>Host Card Name (Max 32 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterfaceNumber" type="uint8">
				<xs:annotation>
					<xs:documentation>Interface Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NodeID" type="uint8">
				<xs:annotation>
					<xs:documentation>Node ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialisationSubCode" type="uint8">
				<xs:annotation>
					<xs:documentation>Downlink subcode for initialisation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GainSubCode" type="uint8">
				<xs:annotation>
					<xs:documentation>Downlink subcode for setting gauge gains</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSyncSubCode" type="uint8">
				<xs:annotation>
					<xs:documentation>Downlink subcode for setting time sync</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IwisCommsStatus" type="string32">
				<xs:annotation>
					<xs:documentation>Reference to SEM to DHPT IWIS card modbus comms status status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoOfGauges" type="uint8">
				<xs:annotation>
					<xs:documentation>Number of Gauges Configured  (Range 1 to 10).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCIEditData" type="BHDHPTControlEditDataType">
				<xs:annotation>
					<xs:documentation>Properties editable on ETU</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType">
				<xs:annotation>
					<xs:documentation>Structure holding Modbus and OPC mapping data</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BHDHPTControlEditDataType">
		<xs:sequence>
			<xs:element name="CableSelection" type="uint8">
				<xs:annotation>
					<xs:documentation>Cable Selection - A, B or Both</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DownholeVoltage" type="uint8">
				<xs:annotation>
					<xs:documentation>Downhole Voltage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool1Gain" type="uint8">
				<xs:annotation>
					<xs:documentation>Tool 1 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool2Gain" type="uint8" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 2 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool3Gain" type="uint8" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 3 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool4Gain" type="uint8" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 4 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool5Gain" type="uint8" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 5 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool6Gain" type="uint8" default="26" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 6 Gain (Modbus Gain 40016).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool7Gain" type="uint8" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 7 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool8Gain" type="uint8" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 8 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool9Gain" type="uint8" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 9 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tool10Gain" type="uint8" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tool 10 Gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericModbusType">
		<xs:annotation>
			<xs:documentation>Generic Modbus Subsea Interface Card</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="string32">
				<xs:annotation>
					<xs:documentation>Name of the Interface (Max 32 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tag" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer tag reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModbusDeviceType" type="string32">
				<xs:annotation>
					<xs:documentation>The device type allows for specialized behaviour, dependent on the type. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterfaceNumber" type="uint8">
				<xs:annotation>
					<xs:documentation>Serial Interface Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NodeID" type="uint8">
				<xs:annotation>
					<xs:documentation>Node ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HostCard" type="string32">
				<xs:annotation>
					<xs:documentation>Host Card Name (Max 32 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoOfGauges" type="string32">
				<xs:annotation>
					<xs:documentation>Number of Gauges Configured  (Range 1 to 10).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--The following are used by the ETU to Display the Data on P&ID (if req.)-->
			<xs:element name="ModbusCommand" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Command for the Modbus device</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="xs:string">
							<xs:annotation>
								<xs:documentation>Name of the command</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CommandType">
							<xs:annotation>
								<xs:documentation>Determines whether the command is user-initiated or system-initiated, or both.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="UserInitiated"/>
									<xs:enumeration value="SystemInitiated"/>
									<xs:enumeration value="BothUserAndSystemInitiated"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CommandIsUDP" type="bool" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Flag to determine whether the command sent via UDP Mbus Downlink mesage</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubCode" type="uint8" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Downlink message subcode</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CommandFrequency" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The frequency for System-initiated commands.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:all>
									<xs:element name="IsInitialisation" type="bool">
										<xs:annotation>
											<xs:documentation>Flag to determine whether the command is part of the initialisation sequence for the device</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Frequency" type="int32">
										<xs:annotation>
											<xs:documentation>Frequency in seconds. 0 means never.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:all>
							</xs:complexType>
						</xs:element>
						<xs:element name="ControlParameter" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Control parameters</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="xs:string">
										<xs:annotation>
											<xs:documentation>Name of the parameter.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ValueType">
										<xs:annotation>
											<xs:documentation>Determines whether the value is user-entered, constant value or system time.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="UserEntered"/>
												<xs:enumeration value="SystemTime"/>
												<xs:enumeration value="Constant"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Value" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Hard-coded constant value if Value Type is 'constant value'.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MinEngValue" type="float" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Min engineering value</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaxEngValue" type="float" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Max engineering value</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:choice>
										<xs:element name="Analogue" type="AnalogueSensorType">
											<xs:annotation>
												<xs:documentation>Contains information for the command only. Does NOT specify an Analogue device.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Discrete" type="DiscreteSensorType">
											<xs:annotation>
												<xs:documentation>Contains information for the command only. Does NOT specify a Discrete device</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType">
							<xs:annotation>
								<xs:documentation>Structure holding Modbus and OPC mapping data</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType">
				<xs:annotation>
					<xs:documentation>Structure holding Modbus and OPC mapping data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorsList" type="SCI_SensorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of sensors for the device</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VariantBehaviour" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TBD</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="WGFM">
							<xs:annotation>
								<xs:documentation>TBD</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PigDetector">
							<xs:annotation>
								<xs:documentation>TBD</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericModbusEditDataType">
		<xs:annotation>
			<xs:documentation>SCI Editable Data For A Haliburton DHPT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Gain" type="uint16" default="26">
				<xs:annotation>
					<xs:documentation>Gain Setting (Modbus Address 40057)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoltageSetpoint" type="uint16" default="4033">
				<xs:annotation>
					<xs:documentation>Voltage Setpoint Register (Modbus Address 40058)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge1Address" type="uint16">
				<xs:annotation>
					<xs:documentation>Gauge 1 Address (Modbus Address 40011).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge2Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 2 Address (Modbus Address 40012).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge3Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 3 Address (Modbus Address 40013).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge4Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 4 Address (Modbus Address 40014).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge5Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 5 Address (Modbus Address 40015).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge6Address" type="uint16" default="26" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 6 Address (Modbus Address 40016).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge7Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 7 Address (Modbus Address 40017).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge8Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 8 Address (Modbus Address 40018).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge9Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 9 Address (Modbus Address 40019).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gauge10Address" type="uint16" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gauge 10 Address (Modbus Address 40020).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
