development/core/src/include/Schemas/SCI_HIPPSLogicSolver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Mike Marsh (Vetco Gray Controls Limited) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="SCI_HIPPSLogicSolverType">
		<xs:all>
			<xs:element name="Name"/>
			<xs:element name="Variant">
				<xs:annotation>
					<xs:documentation>HIPPS Variant type (0, 1a, 1b, 2 ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SEMProducerID"/>
			<xs:element name="MarkVIProducerID"/>
			<xs:element name="TripResetTB" type="string32"/>
			<xs:element name="ControlState" type="string32"/>
			<xs:element name="CEx_HealthStatus" type="string32"/>
			<xs:element name="YAIC_CommsOk" type="string32"/>
			<xs:element name="YDOA_CommsOk" type="string32"/>
			<xs:element name="HIPPS_MkVI_AnalogueHealths">
				<xs:annotation>
					<xs:documentation>HIPPS Analogue health</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HIPPS_MkVI_AnalogueHealth" maxOccurs="unbounded">
							<xs:complexType>
								<xs:all>
									<xs:element name="Name"/>
									<xs:element name="SensorReference" type="string32"/>
									<xs:element name="EgdInhibitControl">
										<xs:complexType>
											<xs:all>
												<xs:element name="EgdExchange"/>
												<xs:element name="EgdByteOffset" type="xs:int"/>
												<xs:element name="EgdBitNumber" type="xs:int"/>
												<xs:element name="InhibitStatus" type="string32"/>
												<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType"/>
											</xs:all>
										</xs:complexType>
									</xs:element>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HIPPS_MkVI_K_InhibitDiscretes">
				<xs:annotation>
					<xs:documentation>HIPPS inhibit discrete flags</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HIPPS_MkVI_K_InhibitDiscrete" maxOccurs="unbounded">
							<xs:complexType>
								<xs:all>
									<xs:element name="Name"/>
									<xs:element name="SensorReference" type="string32"/>
									<xs:element name="EgdInhibitControl">
										<xs:complexType>
											<xs:all>
												<xs:element name="EgdExchange"/>
												<xs:element name="EgdByteOffset" type="xs:int"/>
												<xs:element name="EgdBitNumber" type="xs:int"/>
												<xs:element name="InhibitStatus" type="string32"/>
												<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType"/>
											</xs:all>
										</xs:complexType>
									</xs:element>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HIPPS_MkVI_Heartbeat" type="string32"/>
			<xs:element name="NoAddParams" type="uint8">
				<xs:annotation>
					<xs:documentation>Number of Additional Parameters to be Read for HIPPS Logic Controller</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams1Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 1 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams1Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 1 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams2Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 2 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams2Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 2 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams3Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 3 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams3Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 3 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams4Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 4 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams4Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 4 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams5Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 5 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams5Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 5 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams6Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 6 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams6Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 6 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams7Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 7 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams7Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 7 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams8Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 8 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams8Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 8 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams9Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 9 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams9Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 9 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams10Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 10 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams10Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 10 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams11Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 11 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams11Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 11 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams12Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 12 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams12Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 12 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams13Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 13 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams13Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 13 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams14Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 14 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams14Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 14 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams15Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 15 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams15Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 15 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams16Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 16 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams16Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 16 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams17Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 17 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams17Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 17 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams18Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 18 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams18Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 18 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams19Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 19 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams19Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 19 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams20Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 20 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams20Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 20 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams21Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 21 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams21Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 21 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams22Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 22 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams22Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 22 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams23Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 23 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams23Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 23 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams24Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 24 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams24Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 24 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams25Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 25 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams25Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 25 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams26Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 26 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams26Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 26 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams27Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 27 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams27Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 27 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams28Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 28 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams28Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 28 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams29Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 29 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams29Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 29 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams30Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 30 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams30Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 30 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams31Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 31 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams31Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 31 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams32Desc" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 32 Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddParams32Ref" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HIPPS Logic Controller Additional Parameter 32 SCI Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType"/>
		</xs:all>
	</xs:complexType>
</xs:schema>
