development/core/src/include/Schemas/SCI_ArbitrationDualActuatorValve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Alan Davis (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_SurfaceTypes.xsd"/>
	<xs:include schemaLocation="BaseTypes.xsd"/>
	<xs:include schemaLocation="SCI_DeviceMapping.xsd"/>
	<xs:include schemaLocation="SCI_ArbitrationStandardHydraulicValve.xsd"/>
	<xs:complexType name="ArbitrationDualActuatorValveType">
		<xs:annotation>
			<xs:documentation>Arbitrated view data for Dual Actuator Valve AIP-20000-01-306</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="string32">
				<xs:annotation>
					<xs:documentation>Name of the valve (Max 32 characters).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tag" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer tag reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenValve" type="string32">
				<xs:annotation>
					<xs:documentation>Open Valve DCV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseValve" type="string32">
				<xs:annotation>
					<xs:documentation>Close Valve DCV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pos1Sen" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Position Indicator (LVDT) 1 Sensor Definition. (This is a named reference to a Sensor defined in the Sensors Block)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pos2Sen" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Position Indicator (LVDT) 2 Sensor Definition. (This is a named reference to a Sensor defined in the Sensors Block)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCIEditData" type="ArbitrationDualActuatorValveEditDataType">
				<xs:annotation>
					<xs:documentation>This group contains all the standard valve data that can be edited on the ETU HMI.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI_Mapping" type="SCI_DeviceMappingType">
				<xs:annotation>
					<xs:documentation>Structure holding Modbus and OPC mapping data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArbitrationDualActuatorValveEditDataType">
		<xs:annotation>
			<xs:documentation>SCI Editable Data For A Dual Actuator Valve AIP-20000-01-306</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OpenDCVSource" type="uint8">
				<xs:annotation>
					<xs:documentation>Open DCV Source Selection Definition.1-Lock SEMA, 2-Lock SEMB, 3-Auto(Default)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDCVSource" type="uint8">
				<xs:annotation>
					<xs:documentation>Close DCV Source Selection Definition.1-Lock SEMA, 2-Lock SEMB, 3-Auto(Default)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDuration" type="DCVSolDurType">
				<xs:annotation>
					<xs:documentation>Soldenoid duration time in milliseconds, the time the solenoid is energised inside the DCV to initiatee valve operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentDuration" type="ValveDurType">
				<xs:annotation>
					<xs:documentation>Duration to operate the valve during vent operations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentActProfileDuration" type="ProfileDurType">
				<xs:annotation>
					<xs:documentation>Vent Actuator Profile Duration, duration of the valve profile, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentPresProfileDuration" type="ProfileDurType">
				<xs:annotation>
					<xs:documentation>Vent Pressure Profile Duration, duration of the valve profile, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentTargetPres" type="float">
				<xs:annotation>
					<xs:documentation>Target Close Pressure, the vent line pressure when the valve is closed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDCVTargetPresDisable" type="bool">
				<xs:annotation>
					<xs:documentation>If set the valve logic ignores the target pressures when determining the valves status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentSolenoidDelay" type="uint16">
				<xs:annotation>
					<xs:documentation>Delay in milliseconds before firing DCV after profiling starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentPresProfileDisable" type="bool">
				<xs:annotation>
					<xs:documentation>Disable collection of vent pressure profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentFlowProfileDisable" type="bool">
				<xs:annotation>
					<xs:documentation>Disable collection of vent flow profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseDuration" type="ValveDurType">
				<xs:annotation>
					<xs:documentation>The time taked for the valve vent operation to complete in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseActProfileDuration" type="ProfileDurType">
				<xs:annotation>
					<xs:documentation>Vent Actuator Profile Duration, duration of the valve profile, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressurisePresProfileDuration" type="ProfileDurType">
				<xs:annotation>
					<xs:documentation>Vent Pressure Profile Duration, duration of the valve profile, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseFlowProfileDuration" type="ProfileDurType">
				<xs:annotation>
					<xs:documentation>Pressurise Flow Profile Duration, duration of the valve profile, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDCVTargetPresDisable" type="bool">
				<xs:annotation>
					<xs:documentation>If set the valve logic ignores the target pressures when determining the valves status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseSolenoidDelay" type="uint16">
				<xs:annotation>
					<xs:documentation>Delay in milliseconds before firing DCV after profiling starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressurisePresProfileDisable" type="bool">
				<xs:annotation>
					<xs:documentation>Disable collection of Pressurise pressure profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseFlowProfileDisable" type="bool">
				<xs:annotation>
					<xs:documentation>Disable collection of vent flow profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetFlow" type="float">
				<xs:annotation>
					<xs:documentation>Target Pressurise Flow.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowTolerance" type="float">
				<xs:annotation>
					<xs:documentation>When checking flow values for valves, the SCI should look for the flow being Target +/- Toolerance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetPos1Disable" type="bool" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If set the valve logic ignores the Position Indicator 1 when determining the valve status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetPos2Disable" type="bool" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If set the valve logic ignores the Position Indicator 2 when determining the valve status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetOpenPos" type="float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Target Open Position, this is the Threshold for the Position Indicator to be successfully opened.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetClosePos" type="float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Target Close Position, this is the Threshold for the Position Indicator to be successfully Close.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalVentRequired" type="bool">
				<xs:annotation>
					<xs:documentation>Indicates if Final Step in Sequence is to Vent or Leave Pressure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetFlowDisable" type="bool">
				<xs:annotation>
					<xs:documentation>If set the valve logic ignores the target flow when determining the valves status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentFlowProfileDuration">
				<xs:annotation>
					<xs:documentation>Vent Flow Profile Duration, duration of the valve profile, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetPres">
				<xs:annotation>
					<xs:documentation>Target Pressurise Pressure, the Pressurise line pressure when the valve is Pressurised.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pos1ProfileDisable" type="bool" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Disable collection of Position Indicator 1 Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pos2ProfileDisable" type="bool" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Disable collection of Position 2 Indicator Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pos1ProfileDuration" type="ProfileDurType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Position Indicator 1 Profile Duration, duration of the valve profile, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pos2ProfileDuration" type="ProfileDurType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Position Indicator 2 Profile Duration, duration of the valve profile, in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
