development/core/src/include/Schemas/SCI_Valve_MappingTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Susan Clay (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_MappingTemplateDataType.xsd"/>
	<xs:complexType name="SCI_Modbus_StandardValveTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Modbus mapping of valve</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Open" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Open Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Close" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Close Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetFlowDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Flow Reading When Determining The Valve Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - This Sci Active For This Valve</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_StandardValveTemplateType">
		<xs:annotation>
			<xs:documentation>Used for OPC mapping of valve</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Open" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Open Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Close" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Close Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - This Sci Active For This Valve</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetFlowDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Flow Reading When Determining The Valve Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Solenoid Duration Time In Milliseconds, The Time The Solenoid Is Energised Inside The DCV To Initiate Valve Operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - The Time Taken For The Valve Open Operation To Complete In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - The Time Taken For The Valve Close Operation To Complete In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Actuator Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetOpenPres" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT Target Open Pressure, This Is The Actuator Pressure Achieved The  Valve Has Successfully Opened.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetClosePres" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT Target Close Pressure, The Vent Line Pressure When The Valve Is Closed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetOpenFlow" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT Target Open Flow, The Amount Of Hydraulic Fluid Required To Perform A Successful Open.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetCloseFlow" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT Target Open Flow, The Amount Of Hydraulic Fluid Required To Perform A Successful Close.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowTolerance" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT When Checking Flow Values For Valves, The Sci Should Look For The Flow Being Target +/- Tolerance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Powersave" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BYTE - Power Applied To A Continuous Valve After The Operation Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Supply/Vent Pressure Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Flowmeter Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDelay" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Delay In Milliseconds Before Firing DCV After Profiling Starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupPresProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Disable Collection Of Supply Pressure Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetPresProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Disable Collection Of Vent Pressure Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupFlowProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Disable Collection Of Supply Flow Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetFlowProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Disable collection of vent flow profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProfileDestinationFile" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - STRING255 - Filename Of The Destination Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseAlmPres">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Low Alarm Pressure Setpoint For A Pressurised Valve</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentAlmPres">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - High Alarm Pressure Setpoint For A Depressurised Valve</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_StandardValveTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Modbus mapping of arbitration valve</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Open" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Open Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Close" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Close Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetFlowDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Flow Reading When Determining The Valve Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_StandardValveTemplateType">
		<xs:annotation>
			<xs:documentation>Used for OPC mapping of arbitration valve</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Open" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Open Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Close" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Close Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Source Channel(s) to execute commands.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetFlowDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Flow Reading When Determining The Valve Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Solenoid Duration Time In Milliseconds, The Time The Solenoid Is Energised Inside The DCV To Initiate Valve Operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - The Time Taken For The Valve Open Operation To Complete In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - The Time Taken For The Valve Close Operation To Complete In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Actuator Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetOpenPres" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT Target Open Pressure, This Is The Actuator Pressure Achieved The  Valve Has Successfully Opened.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetClosePres" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT Target Close Pressure, The Vent Line Pressure When The Valve Is Closed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetOpenFlow" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT Target Open Flow, The Amount Of Hydraulic Fluid Required To Perform A Successful Open.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetCloseFlow" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT Target Open Flow, The Amount Of Hydraulic Fluid Required To Perform A Successful Close.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowTolerance" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT When Checking Flow Values For Valves, The Sci Should Look For The Flow Being Target +/- Tolerance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Powersave" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BYTE - Power Applied To A Continuous Valve After The Operation Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Supply/Vent Pressure Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Flowmeter Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDelay" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Delay In Milliseconds Before Firing DCV After Profiling Starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupPresProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Disable Collection Of Supply Pressure Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetPresProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Disable Collection Of Vent Pressure Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupFlowProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Disable Collection Of Supply Flow Profile
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetFlowProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Disable collection of vent flow profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProfileDestinationFile" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - STRING255 - Filename Of The Destination Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseAlmPres">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Low Alarm Pressure Setpoint For A Pressurised Valve</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentAlmPres">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - High Alarm Pressure Setpoint For A Depressurised Valve</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
