development/core/src/include/Schemas/SCI_ChemicalMeteringValve_MappingTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Vetco Gray Controls Limited (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_MappingTemplateDataType.xsd"/>
	<xs:complexType name="SCI_Modbus_StandardCMVTemplateType">
		<xs:annotation>
			<xs:documentation>SCI Modbus Mapping Template for Standard CMV</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abort" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AbortEndOp" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort At End Of Current Operation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PosMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Position Mode Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegFlowMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL -  Flow Mode with Continuous Regulation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Flow Mode without Continuous Regulation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - FLOAT - Require Position (%)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqFlowRate" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - FLOAT - Required Flow Rate (l/h) for Flow Commands</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusWord" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - CMV Status Word (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - CMV Device Status (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - CMV Position (%) (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualFlowRate" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - CMV Flow Rate (l/h) (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_StandardCMVTemplateType">
		<xs:annotation>
			<xs:documentation>SCI OPC Mapping Template for Standard CMV</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abort" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AbortEndOp" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort At End Of Current Operation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PosMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Position Mode Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegFlowMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL -  Flow Mode with Continuous Regulation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Flow Mode without Continuous Regulation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - FLOAT - Require Position (%)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqFlowRate" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - FLOAT - Required Flow Rate (l/h) for Flow Commands</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusWord" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - CMV Status Word (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - CMV Device Status (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - CMV Position (%) (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualFlowRate" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - CMV Flow Rate (l/h) (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_StandardCMVTemplateType">
		<xs:annotation>
			<xs:documentation>SCI Modbus Mapping Template for arbitration Standard CMV</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abort" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AbortEndOp" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort At End Of Current Operation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PosMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Position Mode Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegFlowMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL -  Flow Mode with Continuous Regulation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Flow Mode without Continuous Regulation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - FLOAT - Require Position (%)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqFlowRate" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - FLOAT - Required Flow Rate (l/h) for Flow Commands</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusWord" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - CMV Status Word (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - CMV Device Status (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - CMV Position (%) (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualFlowRate" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - CMV Flow Rate (l/h) (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_StandardCMVTemplateType">
		<xs:annotation>
			<xs:documentation>SCI OPC Mapping Template for arbitration Standard CMV</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abort" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AbortEndOp" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort At End Of Current Operation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PosMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Position Mode Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegFlowMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL -  Flow Mode with Continuous Regulation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Flow Mode without Continuous Regulation Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - FLOAT - Require Position (%)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqFlowRate" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - FLOAT - Required Flow Rate (l/h) for Flow Commands</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusWord" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - CMV Status Word (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - CMV Device Status (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - CMV Position (%) (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualFlowRate" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - CMV Flow Rate (l/h) (Read From Device)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Source Channel(s) to execute commands.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
