development/core/src/include/Schemas/SCI_Choke_MappingTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Vetco Gray Controls Limited (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_MappingTemplateDataType.xsd"/>
	<xs:complexType name="SCI_Modbus_ChokeTemplateType">
		<xs:annotation>
			<xs:documentation>SCI Modbus Mapping Template for Choke Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abort" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepOpen" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Step Open Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepClose" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Step Close Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MoveToPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL -  Move to Position Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveOpen" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Drive Open Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveClose" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Drive  Close Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoSteps" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Required Number Of Steps</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Require Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SetCalcPos" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Set The Calculated Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - This SCI Active For This Choke</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalcPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Calculated Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIDisable" type="SCI_DataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL -Position Indicator Sensor Enabled/Disable</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_ChokeTemplateType">
		<xs:annotation>
			<xs:documentation>SCI OPC Mapping Template for Choke Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abort" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepOpen" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Step Open Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepClose" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Step Close Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MoveToPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL -  Move to Position Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveOpen" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Drive Open Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveClose" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Drive  Close Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoSteps" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Required Number Of Steps</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Require Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SetCalcPos" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Set The Calculated Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Bits Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - This SCI Active For This Choke</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalcPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Calculated Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIDisable" type="SCI_DataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL -Position Indicator Sensor Enabled/Disable</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 Solenoid Duration Time In Milliseconds,Tthe Time The Solenoid Is Energised For Open And Close DCV.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HydraulicPulseWidth" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Hydraulic Pulse Width In Milliseconds, The Time The Hydraulics Are Held On For.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepTime" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Step Time In Milliseconds, The Time Of Each Step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalSteps" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Total Number Of Steps Of Steps For Choke</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepSize" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Percentage Movement Per Choke Step Movement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Percentage For Choke To Be Open Before Being Declared Open</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorTolerance" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Tolerance Between CPI And Calculated Position For Error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperateTime" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Used To Define Time Period Over Which To Operate A Choke.  If Non Zero, When The Choke Is Moved, This Field Defines In Seconds How Long The Total Operation Will Take.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpentoCloseB_L" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Mechanical Backlash When Changing Direction Of Motor From Open To Close.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClosetoOpenB_L" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Mechanical Backlash When Changing Direction Of Motor From Close To Open.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveOpenTime" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Time For Drive Open Hydraulic Pulse For Motor Choke.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveCloseTime" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Time For Drive Open Hydraulic Pulse For Motor Choke.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PositionInSteps" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Current Choke Position in Steps.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepsRemaining" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Number of Steps Remaining in Current Operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousDirection" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - Previous Operated Direction (True-Open Direction, False-Close Direction).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - Current Operated Direction (True-Open Direction, False-Close Direction).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveCommand" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - Current Operation if a Drive operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_ChokeTemplateType">
		<xs:annotation>
			<xs:documentation>SCI Modbus Mapping Template for Choke Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abort" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepOpen" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Step Open Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepClose" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Step Close Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MoveToPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL -  Move to Position Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveOpen" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Drive Open Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveClose" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Drive  Close Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoSteps" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Required Number Of Steps</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Require Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SetCalcPos" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Set The Calculated Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalcPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Calculated Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIDisable" type="SCI_DataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL -Position Indicator Sensor Enabled/Disable</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_ChokeTemplateType">
		<xs:annotation>
			<xs:documentation>SCI OPC Mapping Template for Choke Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abort" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Abort Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepOpen" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Step Open Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepClose" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Step Close Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MoveToPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL -  Move to Position Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveOpen" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Drive Open Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveClose" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Drive  Close Command</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoSteps" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Required Number Of Steps</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Require Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SetCalcPos" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Set The Calculated Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalcPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Calculated Position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIDisable" type="SCI_DataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL -Position Indicator Sensor Enabled/Disable</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Source Channel(s) to execute commands.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 Solenoid Duration Time In Milliseconds,Tthe Time The Solenoid Is Energised For Open And Close DCV.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HydraulicPulseWidth" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Hydraulic Pulse Width In Milliseconds, The Time The Hydraulics Are Held On For.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepTime" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Step Time In Milliseconds, The Time Of Each Step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalSteps" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Total Number Of Steps Of Steps For Choke</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepSize" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Percentage Movement Per Choke Step Movement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenPosition" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Percentage For Choke To Be Open Before Being Declared Open</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorTolerance" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Tolerance Between CPI And Calculated Position For Error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperateTime" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Used To Define Time Period Over Which To Operate A Choke.  If Non Zero, When The Choke Is Moved, This Field Defines In Seconds How Long The Total Operation Will Take.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpentoCloseB_L" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Mechanical Backlash When Changing Direction Of Motor From Open To Close.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClosetoOpenB_L" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Mechanical Backlash When Changing Direction Of Motor From Close To Open.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveOpenTime" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Time For Drive Open Hydraulic Pulse For Motor Choke.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriveCloseTime" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Time For Drive Open Hydraulic Pulse For Motor Choke.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PositionInSteps" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Current Choke Position in Steps.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
