development/core/src/include/Schemas/SCI_Bus_MappingTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Vetco Gray Controls Limited (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_MappingTemplateDataType.xsd"/>
	<xs:complexType name="SCI_OPC_BusTemplateType">
		<xs:annotation>
			<xs:documentation>Used for bus's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Connect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Connect The Bus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Disconnect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Disconnect The Bus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Bits For The Bus Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutoConnect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - The Bus Should Auto Connect</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_BusTemplateType">
		<xs:annotation>
			<xs:documentation>Used for bus's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Connect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Connect The Bus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Disconnect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Disconnect The Bus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_CanBusTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Canbus's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Connect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Connect The Bus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Disconnect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Disconnect The Bus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Power Status  Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CanlineStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Canline Status  Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Bits For The Bus Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OnlineDelayTimer" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Delay between Power Line and Bringing Canbus Line On-Line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutoConnect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - The Bus Should Auto Connect</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_CanBusSensorControlTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Canbus's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PreOperational" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - PreOperational Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operational" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Operational Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reset_Application" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Reset Application Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stop" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Stop Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reset_Communications" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Reset Communications Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Bits For The Bus Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Device State of Canbus Sensor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverallDeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Overall Device State of Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetailedDeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Detailed Device State of Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_CanBusTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Canbus's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Connect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Connect The Bus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Disconnect" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Disconnect The Bus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Power Status  Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CanlineStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Canline Status  Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_CanBusSensorControlTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Canbus's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PreOperational" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - PreOperational Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operational" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Operational Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reset_Application" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Reset Application Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stop" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Stop Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reset_Communications" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Reset Communications Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Device State of Canbus Sensor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverallDeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Overall Device State of Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetailedDeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Detailed Device State of Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_BusTemplateType">
		<xs:annotation>
			<xs:documentation>Used for bus's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConnectA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Connect The Bus Channel A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisconnectA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Disconnect The Bus Channel A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Channel A Status Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConnectB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Connect The Bus Channel B</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisconnectB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Disconnect The Bus Channel B</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Channel B Status Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BadCommsTimer" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Bad Communications Timer (ms)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutoSwitching" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - The Bus should be autoswitching between Channel A and B</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_BusTemplateType">
		<xs:annotation>
			<xs:documentation>Used for bus's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConnectA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Connect The Bus Channel A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisconnectA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Disconnect The Bus Channel A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Channel A Status Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConnectB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Connect The Bus Channel B</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisconnectB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Command To Disconnect The Bus Channel B</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Channel B Status Bits For The Bus Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SCI_Modbus_CanBusSensorStatusControlTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Canbus's Sensor Status Control Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BootMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Boot Mode Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Application Mode Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits For The Canbus Sensor Status Control Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Device State of Canbus Sensor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverallDeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Overall Device State of Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetailedDeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Detailed Device State of Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SCI_OPC_CanBusSensorStatusControlTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Canbus's Sensor Status Control OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BootMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Boot Mode Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Application Mode Command To Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Bits For The Canbus Sensor Status Control Packed Into A Word.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Bits For The Canbus Sensor Status Control Packed Into A Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Device State of Canbus Sensor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverallDeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Overall Device State of Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetailedDeviceState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Detailed Device State of Canbus Sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutoOnline" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - The Canbus Sensor Should Auto Go Online</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BootModeDelayTimer" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Timer after requesting sensor to go into Boot Mode before requesting status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppModeDelayTimer" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Timer after requesting sensor to go into Application Mode before requesting status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpModeDelayTimer" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Timer after requesting sensor to go into Operational Mode before requesting status</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
</xs:schema>
