development/core/src/include/Schemas/SCI_MappingTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Susan Clay (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_AnalogSensor_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_BoardControl_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_FlowmeterSensor_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_Bus_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_Comms_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_Choke_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_InterfaceWatchDog_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_CommsLossWatchDog_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_DiscreteSensor_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_SCM_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_SMU_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_PCDM_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_DualValve_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_MappingTemplateDataType.xsd"/>
	<xs:include schemaLocation="SCI_Valve_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_ChemicalMeteringValve_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_SensorModbusInterfaces_MappingTemplate.xsd"/>
	<xs:include schemaLocation="SCI_ChannelControl_MappingTemplate.xsd"/>
	<xs:complexType name="SCI_Modbus_TemplateType">
		<xs:choice>
			<xs:element name="SCI_Modbus_AnalogueSensorTemplate" type="SCI_Modbus_AnalogueSensorTemplateType"/>
			<xs:element name="SCI_Modbus_AnalogueUInt8SensorTemplate" type="SCI_Modbus_AnalogueUInt8SensorTemplateType"/>
			<xs:element name="SCI_Modbus_AnalogueUInt16SensorTemplate" type="SCI_Modbus_AnalogueUInt16SensorTemplateType"/>
			<xs:element name="SCI_Modbus_AnalogueUInt32SensorTemplate" type="SCI_Modbus_AnalogueUInt32SensorTemplateType"/>
			<xs:element name="SCI_Modbus_AnalogueInt8SensorTemplate" type="SCI_Modbus_AnalogueInt8SensorTemplateType"/>
			<xs:element name="SCI_Modbus_AnalogueInt16SensorTemplate" type="SCI_Modbus_AnalogueInt16SensorTemplateType"/>
			<xs:element name="SCI_Modbus_AnalogueInt32SensorTemplate" type="SCI_Modbus_AnalogueInt32SensorTemplateType"/>
			<xs:element name="SCI_Modbus_AnalogueFloatSensorTemplate" type="SCI_Modbus_AnalogueFloatSensorTemplateType"/>
			<xs:element name="SCI_Modbus_FluidIngressLevelTemplate" type="SCI_Modbus_FluidIngressLevelTemplateType"/>
			<xs:element name="SCI_Modbus_TripResetTemplate" type="SCI_Modbus_TripResetTemplateType"/>
			<xs:element name="SCI_Modbus_BoardControlTemplate" type="SCI_Modbus_BoardControlTemplateType"/>
			<xs:element name="SCI_Modbus_OpticalCommsControlTemplate" type="SCI_Modbus_OpticalCommsControlTemplateType"/>
			<xs:element name="SCI_Modbus_BusTemplate" type="SCI_Modbus_BusTemplateType"/>
			<xs:element name="SCI_Modbus_CanBusTemplate" type="SCI_Modbus_CanBusTemplateType"/>
			<xs:element name="SCI_Modbus_CanBusSensorControlTemplate" type="SCI_Modbus_CanBusSensorControlTemplateType"/>
			<xs:element name="SCI_Modbus_ChokeTemplate" type="SCI_Modbus_ChokeTemplateType"/>
			<xs:element name="SCI_Modbus_DiscreteSensorTemplate" type="SCI_Modbus_DiscreteSensorTemplateType"/>
			<xs:element name="SCI_Modbus_DualValveTemplate" type="SCI_Modbus_DualValveTemplateType"/>
			<xs:element name="SCI_Modbus_FlowmeterSensorTemplate" type="SCI_Modbus_FlowmeterSensorTemplateType"/>
			<xs:element name="SCI_Modbus_BoolWatchDogTemplate" type="SCI_Modbus_BoolWatchDogTemplateType"/>
			<xs:element name="SCI_Modbus_IntWatchDogTemplate" type="SCI_Modbus_IntWatchDogTemplateType"/>
			<xs:element name="SCI_Modbus_ExtWatchDogTemplate" type="SCI_Modbus_ExtWatchDogTemplateType"/>
			<xs:element name="SCI_Modbus_CommsLossWatchDogTemplate" type="SCI_Modbus_CommsLossWatchDogTemplateType"/>
			<xs:element name="SCI_Modbus_PCDMTemplate" type="SCI_Modbus_PCDMTemplateType"/>
			<xs:element name="SCI_Modbus_ScmTemplate" type="SCI_Modbus_ScmTemplateType"/>
			<xs:element name="SCI_Modbus_SMUTemplate" type="SCI_Modbus_SMUTemplateType"/>
			<xs:element name="SCI_Modbus_StandardValveTemplate" type="SCI_Modbus_StandardValveTemplateType"/>
			<xs:element name="SCI_Modbus_CardTemplate" type="SCI_Modbus_CardTemplateType"/>
			<xs:element name="SCI_Modbus_UmbTemplate" type="SCI_Modbus_UmbTemplateType"/>
			<xs:element name="SCI_Modbus_SCIStatusTemplate" type="SCI_Modbus_SCIStatusTemplateType"/>
			<xs:element name="SCI_Modbus_ModbusIFTemplate" type="SCI_Modbus_ModbusIFTemplateType"/>
			<xs:element name="SCI_Modbus_StandardCMVTemplate" type="SCI_Modbus_StandardCMVTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_AnalogueSensorTemplate" type="SCI_Modbus_Arb_AnalogueSensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_AnalogueUInt8SensorTemplate" type="SCI_Modbus_Arb_AnalogueUInt8SensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_AnalogueUInt16SensorTemplate" type="SCI_Modbus_Arb_AnalogueUInt16SensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_AnalogueUInt32SensorTemplate" type="SCI_Modbus_Arb_AnalogueUInt32SensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_AnalogueInt8SensorTemplate" type="SCI_Modbus_Arb_AnalogueInt8SensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_AnalogueInt16SensorTemplate" type="SCI_Modbus_Arb_AnalogueInt16SensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_AnalogueInt32SensorTemplate" type="SCI_Modbus_Arb_AnalogueInt32SensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_AnalogueFloatSensorTemplate" type="SCI_Modbus_Arb_AnalogueFloatSensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_FlowmeterSensorTemplate" type="SCI_Modbus_Arb_FlowmeterSensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_DiscreteSensorTemplate" type="SCI_Modbus_Arb_DiscreteSensorTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_ChokeTemplate" type="SCI_Modbus_Arb_ChokeTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_DualValveTemplate" type="SCI_Modbus_Arb_DualValveTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_StandardValveTemplate" type="SCI_Modbus_Arb_StandardValveTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_StandardCMVTemplate" type="SCI_Modbus_Arb_StandardCMVTemplateType"/>
			<xs:element name="SCI_Modbus_Arb_BusTemplate" type="SCI_Modbus_Arb_BusTemplateType"/>
			<xs:element name="SCI_Modbus_CanBusSensorStatusControlTemplate" type="SCI_Modbus_CanBusSensorStatusControlTemplateType"/>
			<xs:element name="SCI_Modbus_FramoVxTemplate" type="SCI_Modbus_FramoVxTemplateType"/>
			<xs:element name="SCI_Modbus_ChannelControlTemplate" type="SCI_Modbus_ChannelControlTemplateType"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Modbus_Template" type="SCI_Modbus_TemplateType"/>
	<xs:complexType name="SCI_OPC_TemplateType">
		<xs:choice>
			<xs:element name="SCI_OPC_AnalogueSensorTemplate" type="SCI_OPC_AnalogueSensorTemplateType"/>
			<xs:element name="SCI_OPC_AnalogueUInt8SensorTemplate" type="SCI_OPC_AnalogueUInt8SensorTemplateType"/>
			<xs:element name="SCI_OPC_AnalogueUInt16SensorTemplate" type="SCI_OPC_AnalogueUInt16SensorTemplateType"/>
			<xs:element name="SCI_OPC_AnalogueUInt32SensorTemplate" type="SCI_OPC_AnalogueUInt32SensorTemplateType"/>
			<xs:element name="SCI_OPC_AnalogueInt8SensorTemplate" type="SCI_OPC_AnalogueInt8SensorTemplateType"/>
			<xs:element name="SCI_OPC_AnalogueInt16SensorTemplate" type="SCI_OPC_AnalogueInt16SensorTemplateType"/>
			<xs:element name="SCI_OPC_AnalogueInt32SensorTemplate" type="SCI_OPC_AnalogueInt32SensorTemplateType"/>
			<xs:element name="SCI_OPC_AnalogueFloatSensorTemplate" type="SCI_OPC_AnalogueFloatSensorTemplateType"/>
			<xs:element name="SCI_OPC_FluidIngressLevelTemplate" type="SCI_OPC_FluidIngressLevelTemplateType"/>
			<xs:element name="SCI_OPC_TripResetTemplate" type="SCI_OPC_TripResetTemplateType"/>
			<xs:element name="SCI_OPC_BoardControlTemplate" type="SCI_OPC_BoardControlTemplateType"/>
			<xs:element name="SCI_OPC_OpticalCommsControlTemplate" type="SCI_OPC_OpticalCommsControlTemplateType"/>
			<xs:element name="SCI_OPC_BusTemplate" type="SCI_OPC_BusTemplateType"/>
			<xs:element name="SCI_OPC_CanBusTemplate" type="SCI_OPC_CanBusTemplateType"/>
			<xs:element name="SCI_OPC_CanBusSensorControlTemplate" type="SCI_OPC_CanBusSensorControlTemplateType"/>
			<xs:element name="SCI_OPC_ChokeTemplate" type="SCI_OPC_ChokeTemplateType"/>
			<xs:element name="SCI_OPC_DiscreteSensorTemplate" type="SCI_OPC_DiscreteSensorTemplateType"/>
			<xs:element name="SCI_OPC_DualValveTemplate" type="SCI_OPC_DualValveTemplateType"/>
			<xs:element name="SCI_OPC_FlowmeterSensorTemplate" type="SCI_OPC_FlowmeterSensorTemplateType"/>
			<xs:element name="SCI_OPC_BoolWatchDogTemplate" type="SCI_OPC_BoolWatchDogTemplateType"/>
			<xs:element name="SCI_OPC_IntWatchDogTemplate" type="SCI_OPC_IntWatchDogTemplateType"/>
			<xs:element name="SCI_OPC_ExtWatchDogTemplate" type="SCI_OPC_ExtWatchDogTemplateType"/>
			<xs:element name="SCI_OPC_CommsLossWatchDogTemplate" type="SCI_OPC_CommsLossWatchDogTemplateType"/>
			<xs:element name="SCI_OPC_PCDMTemplate" type="SCI_OPC_PCDMTemplateType"/>
			<xs:element name="SCI_OPC_ScmTemplate" type="SCI_OPC_ScmTemplateType"/>
			<xs:element name="SCI_OPC_SMUTemplate" type="SCI_OPC_SMUTemplateType"/>
			<xs:element name="SCI_OPC_StandardValveTemplate" type="SCI_OPC_StandardValveTemplateType"/>
			<xs:element name="SCI_OPC_CardTemplate" type="SCI_OPC_CardTemplateType"/>
			<xs:element name="SCI_OPC_UmbTemplate" type="SCI_OPC_UmbTemplateType"/>
			<xs:element name="SCI_OPC_SCIStatusTemplate" type="SCI_OPC_SCIStatusTemplateType"/>
			<xs:element name="SCI_OPC_StandardCMVTemplate" type="SCI_OPC_StandardCMVTemplateType"/>
			<xs:element name="SCI_OPC_Arb_AnalogueSensorTemplate" type="SCI_OPC_Arb_AnalogueSensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_AnalogueUInt8SensorTemplate" type="SCI_OPC_Arb_AnalogueUInt8SensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_AnalogueUInt16SensorTemplate" type="SCI_OPC_Arb_AnalogueUInt16SensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_AnalogueUInt32SensorTemplate" type="SCI_OPC_Arb_AnalogueUInt32SensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_AnalogueInt8SensorTemplate" type="SCI_OPC_Arb_AnalogueInt8SensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_AnalogueInt16SensorTemplate" type="SCI_OPC_Arb_AnalogueInt16SensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_AnalogueInt32SensorTemplate" type="SCI_OPC_Arb_AnalogueInt32SensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_AnalogueFloatSensorTemplate" type="SCI_OPC_Arb_AnalogueFloatSensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_FlowmeterSensorTemplate" type="SCI_OPC_Arb_FlowmeterSensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_DiscreteSensorTemplate" type="SCI_OPC_Arb_DiscreteSensorTemplateType"/>
			<xs:element name="SCI_OPC_Arb_ChokeTemplate" type="SCI_OPC_Arb_ChokeTemplateType"/>
			<xs:element name="SCI_OPC_Arb_DualValveTemplate" type="SCI_OPC_Arb_DualValveTemplateType"/>
			<xs:element name="SCI_OPC_Arb_StandardValveTemplate" type="SCI_OPC_Arb_StandardValveTemplateType"/>
			<xs:element name="SCI_OPC_Arb_StandardCMVTemplate" type="SCI_OPC_Arb_StandardCMVTemplateType"/>
			<xs:element name="SCI_OPC_Arb_BusTemplate" type="SCI_OPC_Arb_BusTemplateType"/>
			<xs:element name="SCI_OPC_CanBusSensorStatusControlTemplate" type="SCI_OPC_CanBusSensorStatusControlTemplateType"/>
			<xs:element name="SCI_OPC_FramoVxTemplate" type="SCI_OPC_FramoVxTemplateType"/>
			<xs:element name="SCI_OPC_HalliburtonDHPTTemplate" type="SCI_OPC_HalliburtonDHPTTemplateType"/>
			<xs:element name="SCI_OPC_ChannelControlTemplate" type="SCI_OPC_ChannelControlTemplateType"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="OPC_Template" type="SCI_OPC_TemplateType"/>
	<xs:complexType name="SCI_OPC_SCIStatusTemplateType">
		<xs:annotation>
			<xs:documentation>Used for SCI Status OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestSwitchover" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Request Duty SCI Switchover</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsDuty" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - SCI Duty Status (False = Standby, True = Duty)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCIState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - WORD - SCI Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI_CommunicationAlarm" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - SCI Communications Alarm (False = Good, True = Bad).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_SCIStatusTemplateType">
		<xs:annotation>
			<xs:documentation>Used for SCI Status Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestSwitchover" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Request Duty SCI Switchover</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsDuty" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - SCI Duty Status (False = Standby, True = Duty)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCIState" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - WORD - SCI Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCI_CommunicationAlarm" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - SCI Communications Alarm (False = Good, True = Bad).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_ModbusIFTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Modbus Interface Status OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CommunicationAlarm" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - This Modbus Interface Has A Communications Alarm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_ModbusIFTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Modbus Interface Status Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CommunicationAlarm" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - This Modbus Interface Has A Communications Alarm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
