development/core/src/include/Schemas/SCI_AnalogSensor_MappingTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Vetco Gray Controls Limited (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_MappingTemplateDataType.xsd"/>
	<xs:complexType name="SCI_Modbus_AnalogueSensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - The scaled engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_AnalogueSensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - The scaled engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gain" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Gain Within The Engineering Scale Calculation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Offset" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Offset Within The Engineering Scale Calculation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Deadband" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Deadband Before Engineering Value Is Stored In Database </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_AnalogueUInt8SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 8 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT8 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_AnalogueUInt8SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 8 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT8 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_AnalogueUInt16SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 16 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_AnalogueUInt16SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 16 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_AnalogueUInt32SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 32 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT32 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_AnalogueUInt32SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 32 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT32 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_AnalogueInt8SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 8 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT8 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_AnalogueInt8SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 8 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - Int8 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_AnalogueInt16SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 16 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT16 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_AnalogueInt16SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 16 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT16 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_AnalogueInt32SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 32 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT32 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_AnalogueInt32SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Integer 32 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT32 - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_AnalogueFloatSensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Float sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_AnalogueFloatSensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for analogue Float sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - The engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_FluidIngressLevelTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Fluid Ingress Level sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZoneStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Zone Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeaWaterIngressLevel" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  FLOAT - Calculated Sea Water Ingress Level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HydFluidIngressLevel" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  FLOAT - Calculated Hydraulic Fluid Ingress Level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_FluidIngressLevelTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Fluid Ingress Level sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZoneStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Zone Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeaWaterIngressLevel" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  FLOAT - Calculated Sea Water Ingress Level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HydFluidIngressLevel" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  FLOAT - Calculated Hydraulic Fluid Ingress Level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisableAutoPower" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  BOOL - Automatic Power On LC and HC and Power Off is Disabled</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerOnTimer" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  UINT16 - Timer which Power is On for LC and HC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerOffTimer" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  UINT16 - Timer which Power Off.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeaWaterLowThreshold" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  FLOAT - Sea Water Low Current Threshold.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeaWaterHighThreshold" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  FLOAT - Sea Water Low Current Threshold.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HydFluidLowThreshold" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  FLOAT - Hydraulic Fluid Low Current Threshold.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HydFluidHighThreshold" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS -  FLOAT - Hydraulic Fluid High Current Threshold.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_AnalogueSensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Arbitrated Sensor engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Sensor Channel A Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Sensor Channel B Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_AnalogueSensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Arbitrated Sensor engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Sensor Channel A Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Sensor Channel B Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxEngDiscrepancy" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Maximum Engineering Discrepancy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualValue" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Manual Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArbitrationMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Arbitration Mode Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gain" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Gain Within The Engineering Scale Calculation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Offset" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Offset Within The Engineering Scale Calculation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Deadband" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Deadband Before Engineering Value Is Stored In Database </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_AnalogueUInt8SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 8 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT8 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT8 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT8 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_AnalogueUInt8SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 8 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT8 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT8 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT8 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxEngDiscrepancy" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT8 - Maximum Engineering Discrepancy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualValue" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT8 - Manual Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArbitrationMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Arbitration Mode Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_AnalogueUInt16SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 16 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_AnalogueUInt16SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 16 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxEngDiscrepancy" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Maximum Engineering Discrepancy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualValue" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Manual Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArbitrationMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Arbitration Mode Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_AnalogueUInt32SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 32 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT32 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT32 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT32 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_AnalogueUInt32SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 32 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT32 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT32 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT32 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxEngDiscrepancy" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT32 - Maximum Engineering Discrepancy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualValue" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT32 - Manual Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArbitrationMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Arbitration Mode Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_AnalogueInt8SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 8 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT8 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT8 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT8 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_AnalogueInt8SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 8 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT8 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT8 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT8 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxEngDiscrepancy" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - INT8 - Maximum Engineering Discrepancy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualValue" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - INT8 - Manual Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArbitrationMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Arbitration Mode Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_AnalogueInt16SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 16 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT16 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT16 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT16 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_AnalogueInt16SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 16 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT16 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT16 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT16 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxEngDiscrepancy" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - INT16 - Maximum Engineering Discrepancy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualValue" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - INT16 - Manual Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArbitrationMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Arbitration Mode Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_AnalogueInt32SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 32 Bit sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT32 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT32 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT32 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArbitrationMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Arbitration Mode Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_AnalogueInt32SensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Integer 32 Bit sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT32 - Arbitrated Sensor value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT32 - Sensor Channel A Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - INT32 - Sensor Channel B Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxEngDiscrepancy" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - INT32 - Maximum Engineering Discrepancy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualValue" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - INT32 - Manual Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_AnalogueFloatSensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Float sensor's Modbus mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Arbitrated Sensor engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Sensor Channel A Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Sensor Channel B Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_AnalogueFloatSensorTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Arbitration analogue Float sensor's OPC mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Arbitrated Sensor engineering value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueA" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Sensor Channel A Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueB" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - FLOAT - Sensor Channel B Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxEngDiscrepancy" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Maximum Engineering Discrepancy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualValue" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - FLOAT - Manual Engineering Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SensorStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Sensor Status Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArbitrationMode" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Arbitration Mode Bit Map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
