development/core/src/include/Schemas/SCI_DualValve_MappingTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Vetco Gray Controls Limited (Vetco Gray Controls Limited) -->
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SCI_MappingTemplateDataType.xsd"/>
	<xs:complexType name="SCI_Modbus_DualValveTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Modbus mapping of valve</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Open" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Open Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Close" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Close Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDCVTargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDCVTargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetFlowDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Pressurise Phase If Set The Valve Logic Ignores The Target Flow When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - This Sci Active For This Valve</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_DualValveTemplateType">
		<xs:annotation>
			<xs:documentation>Used for OPC mapping of valve</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Open" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Open Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Close" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Close Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - BOOL - This Sci Active For This Valve
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Alarm Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenValveStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Open Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenValveAlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Open Valve Alarm Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseValveStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Close Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseValveAlarmStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Close Valve Alarm Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT32 - Solenoid Duration Time In Milliseconds, The Time The Solenoid Is Energised Inside The DCV To Initiate Valve Operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Duration Of Vent Phase Of Operation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentActProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Vent Phase Actuator Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentPresProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Vent Phase Pressure Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentFlowProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Vent Phase Flowmeter Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentTargetPres" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT - Vent Phase Target Pressure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDCVTargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentSolenoidDelay" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Vent Phase Delay In Milliseconds Before Firing DCV After Profiling Starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentPresProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Vent Phase Disable Collection Of Supply Pressure Profile
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentFlowProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Vent Phase Disable Collection Of Supply Flow Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Duration Of Pressurisation Phase Of Operation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseActProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Pressurise Phase Actuator Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressurisePresProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Pressurise Phase Pressure Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseFlowProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Pressurise Phase Flowmeter Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetPres" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT - Pressure Phase Target Pressure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetFlowDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Pressurise Phase If Set The Valve Logic Ignores The Target Flow When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDCVTargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseSolenoidDelay" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Pressurise Phase Delay In Milliseconds Before Firing DCV After Profiling Starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressurisePresProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Pressure Phase Disable Collection Of Supply Pressure Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseFlowProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Pressurise Phase Disable Collection Of Supply Flow Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetFlow" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT - Target Prssurise Flow, The Amount Of Hydraulic Fluid Required To Perform A Successful Pressurise.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowTolerance" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT When Checking Flow Values For Valves, The Sci Should Look For The Flow Being Target +/- Tolerance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalVentRequired" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Is A Final Vent Required</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_Modbus_Arb_DualValveTemplateType">
		<xs:annotation>
			<xs:documentation>Used for Modbus mapping of Arbitration valve</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Open" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Open Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Close" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Close Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDCVTargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDCVTargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetFlowDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Pressurise Phase If Set The Valve Logic Ignores The Target Flow When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCI_OPC_Arb_DualValveTemplateType">
		<xs:annotation>
			<xs:documentation>Used for OPC mapping of Arbitration valve</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Open" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Open Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Close" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>COMMAND - BOOL - Close Command From Interface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenValveStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Open Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseValveStatus" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>STATUS - UINT16 - Close Status Word</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDCVSource" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Source Channel(s) to execute commands.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDCVSource" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Source Channel(s) to execute commands.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolenoidDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Solenoid Duration Time In Milliseconds, The Time The Solenoid Is Energised Inside The DCV To Initiate Valve Operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Duration Of Vent Phase Of Operation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentActProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Vent Phase Actuator Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentPresProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Vent Phase Pressure Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentFlowProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Vent Phase Flowmeter Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentTargetPres" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT - Vent Phase Target Pressure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDCVTargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentSolenoidDelay" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Vent Phase Delay In Milliseconds Before Firing DCV After Profiling Starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentPresProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Vent Phase Disable Collection Of Supply Pressure Profile
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VentFlowProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Vent Phase Disable Collection Of Supply Flow Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Duration Of Pressurisation Phase Of Operation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseActProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Pressurise Phase Actuator Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressurisePresProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Pressurise Phase Pressure Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseFlowProfileDuration" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 -Pressurise Phase Flowmeter Profile Duration, Duration Of The Valve Profile, In Seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetPres" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT - Pressure Phase Target Pressure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetFlowDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Pressurise Phase If Set The Valve Logic Ignores The Target Flow When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDCVTargetPresDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - If Set The Valve Logic Ignores The Target Pressures When Determining The Valves Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseSolenoidDelay" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - UINT16 - Pressurise Phase Delay In Milliseconds Before Firing DCV After Profiling Starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressurisePresProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Pressure Phase Disable Collection Of Supply Pressure Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseFlowProfileDisable" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Pressurise Phase Disable Collection Of Supply Flow Profile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PressuriseTargetFlow" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT - Target Prssurise Flow, The Amount Of Hydraulic Fluid Required To Perform A Successful Pressurise.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowTolerance" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY -  FLOAT When Checking Flow Values For Valves, The Sci Should Look For The Flow Being Target +/- Tolerance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalVentRequired" type="SCI_DataType">
				<xs:annotation>
					<xs:documentation>PROPERTY - BOOL - Is A Final Vent Required</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
