development/core/src/include/Schemas/Temp_Subsea_GenericModule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--$Author$-->
<!--$Date$-->
<!--$Revision$-->
<!--$URL$-->
<!--$Id$-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="BayType">
		<xs:annotation>
			<xs:documentation>The SEM is divided into bays, the number is depends on the SEM size. Each bay contains a number of slots for function cards.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="uint8">
			<xs:minInclusive value="1">
				<xs:annotation>
					<xs:documentation>The minimum number of bays in a SEM is 1.</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxInclusive value="3">
				<xs:annotation>
					<xs:documentation>The maximum number of bays in a SEM is 3.</xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CEMBayType">
		<xs:annotation>
			<xs:documentation>This is the Bay type for the CEM.  The CEM definition also includes the modules contained in the PDPM, so therefore the number of bays needs to be increased.  The Final IP address octet is calculated from Bay and Slot ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="uint8">
			<xs:minInclusive value="1">
				<xs:annotation>
					<xs:documentation>The minimum number of bays in a CEM is 1.</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxInclusive value="32">
				<xs:annotation>
					<xs:documentation>The maximum number of bays in a CEM is 32.  NOTE:These are not real bays but allow for virtual PDPM bays</xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SlotType">
		<xs:annotation>
			<xs:documentation>A slot can hold one function card module.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="uint8">
			<xs:minInclusive value="1">
				<xs:annotation>
					<xs:documentation>The minimum number of slots in a bay is 1.</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxInclusive value="6">
				<xs:annotation>
					<xs:documentation>The maximum number of slots in a bay is 6.</xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VariantType">
		<xs:annotation>
			<xs:documentation>A support module can have a number of build variants.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="uint8">
			<xs:minInclusive value="0">
				<xs:annotation>
					<xs:documentation>The minimum variant is 0.</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxInclusive value="255">
				<xs:annotation>
					<xs:documentation>The maximum variant number is 3, but 255 can be used to indicate that we don't care about the variant.</xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CommsLossType">
		<xs:sequence>
			<xs:element name="CommsLossTimeout" type="uint16" default="0">
				<xs:annotation>
					<xs:documentation>Timeout before Communications Loss Event is Triggered in Seconds. (0 = disabled)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommsLossControlWord" type="hex32" default="0x0">
				<xs:annotation>
					<xs:documentation>Bitfield with specific bits assigned to each type of support module</xs:documentation>
					<xs:documentation>0: Disconnect Fieldbus 1 -&gt; { SSM, FSM, DISM, LISM }</xs:documentation>
					<xs:documentation>1: Disconnect Fieldbus 2 -&gt; { SSM, FSM, DISM, LISM }</xs:documentation>
					<xs:documentation>2: Disconnect Fieldbus 3 -&gt; { FSM }</xs:documentation>
					<xs:documentation>3: WEPS1 -&gt; { LISM }</xs:documentation>
					<xs:documentation>4: WEPS2 -&gt; { LISM }</xs:documentation>
					<xs:documentation>8: DeEnergize Cont DCV1 -&gt; { DSM }</xs:documentation>
					<xs:documentation>9: DeEnergize Cont DCV2 -&gt; { DSM }</xs:documentation>
					<xs:documentation>10: DeEnergize Cont DCV3 -&gt; { DSM }</xs:documentation>
					<xs:documentation>11: Pause Choke -&gt; { DSM }</xs:documentation>
					<xs:documentation>12: Halt Choke -&gt; { DSM }</xs:documentation>
					<xs:documentation>16: ReInit Modem -&gt; { MMH }</xs:documentation>
					<xs:documentation>17: Cycle Modem Power -&gt; { MMH }</xs:documentation>
					<xs:documentation>18: Connect Fieldbus 1 -&gt; { SSM, FSM, DISM, LISM }</xs:documentation>
					<xs:documentation>19: Connect Fieldbus 2 -&gt; { SSM, FSM, DISM, LISM }</xs:documentation>
					<xs:documentation>20: Connect Fieldbus 3 -&gt; { FSM }</xs:documentation>
					<xs:documentation>31: Reboot -&gt; { ALL }</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericModuleType">
		<xs:sequence>
			<xs:element name="BoardVariant" type="VariantType" default="0">
				<xs:annotation>
					<xs:documentation>This element defines the variant of baord fitted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModeControlWord" type="hex32" default="0x8">
				<xs:annotation>
					<xs:documentation>Bitfield to enable different features on a support module.</xs:documentation>
					<xs:documentation>0: PreOperationalMode</xs:documentation>
					<xs:documentation>1: UdpCommsLossMonitoring</xs:documentation>
					<xs:documentation>2: 4-20OvercurrentMonitoring</xs:documentation>
					<xs:documentation>3: UseCalibrationData</xs:documentation>
					<xs:documentation>4: PPPlinkMonitoring</xs:documentation>
					<xs:documentation>5: PsuAlwaysOn</xs:documentation>
					<xs:documentation>6: FPGA_WatchdogEnable</xs:documentation>
					<xs:documentation>7: PowerUpSemSelfTestEnable</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommsLoss" type="CommsLossType">
				<xs:annotation>
					<xs:documentation>This element defines the action taken by a module when a Comms Loss event occurs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArmExecTimeoutPeriod" type="uint8" default="20" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum time (in seconds) allowed for Valve/Profile execute command to be received after valid Valve ARM request.Used on DSM and SSM.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SemSMType">
		<xs:choice>
			<xs:element name="FSM" type="FSMType">
				<xs:annotation>
					<xs:documentation>A Fieldbus Support Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DISM" type="DISMType">
				<xs:annotation>
					<xs:documentation>Downhole Instrumentation Support Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DSM" type="DSMType">
				<xs:annotation>
					<xs:documentation>DCV Support Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSM" type="SSMType">
				<xs:annotation>
					<xs:documentation>Sensor Support Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LISM" type="LISMType">
				<xs:annotation>
					<xs:documentation>Legacy Instrumentation Support Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EFOMM" type="EFOMMType">
				<xs:annotation>
					<xs:documentation>Ethernet Fibre Optic Modem Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VSCMM" type="VSCMMType">
				<xs:annotation>
					<xs:documentation>Ethernet Fibre Optic Modem Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LSCMM" type="LSCMMType">
				<xs:annotation>
					<xs:documentation>Low Speed Copper Modem Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PBOFM" type="PBOFMType">
				<xs:annotation>
					<xs:documentation>Profibus Optical Fibre Modem (SnorreB) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MMH" type="MMHType">
				<xs:annotation>
					<xs:documentation>Variable Speed Copper Modem Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DSLM" type="DSLMType">
				<xs:annotation>
					<xs:documentation>DSL Modem Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APCM" type="APCMType">
				<xs:annotation>
					<xs:documentation>APC Modem Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MBCM" type="MBCMType">
				<xs:annotation>
					<xs:documentation>Multi-band Coppper Modem Module (MBCMM).</xs:documentation>
				</xs:annotation>
			</xs:element>            
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CEMSMType">
		<xs:choice>
			<xs:element name="FSM" type="FSMType">
				<xs:annotation>
					<xs:documentation>A Fieldbus Support Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SSM" type="SSMType">
				<xs:annotation>
					<xs:documentation>Sensor Support Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PSCM" type="PSCMType">
				<xs:annotation>
					<xs:documentation>Power Switching Control Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EFOMM" type="EFOMMType">
				<xs:annotation>
					<xs:documentation>Ethernet Fibre Optic Modem Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MMH" type="MMHType">
				<xs:annotation>
					<xs:documentation>Modem Module Host.</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="VSCMM" type="VSCMMType">
				<xs:annotation>
					<xs:documentation>Variable Speed Copper Modem Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ERM" type="ERMType">
				<xs:annotation>
					<xs:documentation>Ethernet Routing Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DSLM" type="DSLMType">
				<xs:annotation>
					<xs:documentation>DSL Modem Type..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APCM" type="APCMType">
				<xs:annotation>
					<xs:documentation>APC Modem Type..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MBCM" type="MBCMType">
				<xs:annotation>
					<xs:documentation>Multi-band Copper Modem Module (MBCMM)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SemSupportModuleType">
		<xs:annotation>
			<xs:documentation>Support Module Type, this defines the type of support module in a specific bay and slot.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ModuleName" type="string32">
				<xs:annotation>
					<xs:documentation>Name of the module inserted in a specific bay and slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bay" type="BayType" default="1">
				<xs:annotation>
					<xs:documentation>The bay type is the number of the SEM bay which the module used (Default bay number 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Slot" type="SlotType" default="1">
				<xs:annotation>
					<xs:documentation>The slot is the number in the position the module is in a bay (Default slot number 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommonSupportModuleData" type="GenericModuleType">
				<xs:annotation>
					<xs:documentation>Information common to all cards</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Module" type="SemSMType">
				<xs:annotation>
					<xs:documentation>Sensor Module type, this is the type module inserted in a specific bay and slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CEMSupportModuleType">
		<xs:annotation>
			<xs:documentation>Support Module Type, this defines the type of support module in a specific bay and slot.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ModuleName" type="string32">
				<xs:annotation>
					<xs:documentation>Name of the module inserted in a specific bay and slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bay" type="CEMBayType" default="1">
				<xs:annotation>
					<xs:documentation>This is the bay which the module is located. (Default bay number 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Slot" type="SlotType" default="1">
				<xs:annotation>
					<xs:documentation>The slot is the number in the position the module is in a bay (Default slot number 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommonSupportModuleData" type="GenericModuleType">
				<xs:annotation>
					<xs:documentation>Information common to all cards</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Module" type="CEMSMType">
				<xs:annotation>
					<xs:documentation>Sensor Module type, this is the type module inserted in a specific bay and slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SMUSMType">
		<xs:choice>
			<xs:element name="EFOMM" type="EFOMMType">
				<xs:annotation>
					<xs:documentation>Ethernet Fibre Optic Modem Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VSCMM" type="VSCMMType">
				<xs:annotation>
					<xs:documentation>Variable Speed Copper Modem Module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DSLM" type="DSLMType">
				<xs:annotation>
					<xs:documentation>DSL Modem Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APCM" type="APCMType">
				<xs:annotation>
					<xs:documentation>APC Modem Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MCSMUSupportModuleType">
		<xs:annotation>
			<xs:documentation>Support Module Type, this defines the type of support module in a specific bay and slot.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ModuleName" type="string32">
				<xs:annotation>
					<xs:documentation>Name of the module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bay" type="BayType" fixed="1">
				<xs:annotation>
					<xs:documentation>Fixed bay number 1 - to match subsea structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Slot" type="SlotType" default="1">
				<xs:annotation>
					<xs:documentation>The slot is the number in the position the module is in a bay (Default slot number 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommonSupportModuleData" type="GenericModuleType">
				<xs:annotation>
					<xs:documentation>Information common to all cards</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Module" type="SMUSMType">
				<xs:annotation>
					<xs:documentation>Sensor Module type, this is the type module inserted in a specific bay and slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>
</xs:schema>
